@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Hammersmith+One&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #333;
}

:root {
    --main-font-family: "Open Sans", serif;
}

.border {
    border: 1px solid red;
}

body {
    background-color: #efeff0;
}


/* --- --- --- --- ---
-- Header Block
--- --- --- --- --- */

.header--standard {
    height: auto;
    min-height: 100px;
    background-color: #f9f9f9;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    width: 100%;
}

.header__title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    flex-grow: 0.5;
}

.header__title img {
    width: auto;
    max-width: 30%;
}

.header__title h1 {
    font-size: 2em;
    margin-left: 1%;
    font-weight: 400;
    font-family: var(--main-font-family);
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--main-font-family);
    flex-grow: 1;
    width: 100%;
    margin: 1% 0%;
}

.dropdown_items {
    position: absolute;
    top: 90%;
    margin: 1% 0%;
    width: 25%;
    right: 50%;
    height: 150px;
    display: none;
}

.menu a {
    font-size: 3vw;
    flex-grow: 1;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-weight: 300;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* --- --- --- --- ---
-- Footer Block
--- --- --- --- --- */
.footer__standard {
    height: fit-content;
    margin: 0;
    background-color: #f9f9f9;
    font-family: "Open Sans", serif;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
    margin: 0.5% 0%;
}

.footer__section--logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__section {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-grow: 1;
    height: 100%;
}

.footer__text {
    flex-grow: 1;
}

.footer__location {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
    width: auto;
    flex-grow: 1;
    max-height: 80%;
    margin: 0% 1%;
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-grow: 1;
    height: 100%;
    flex-grow: 1;
    width: 100%;
    max-height: 80%;
}

.footer__social h3 {
    text-align: center;
    font-size: 1em;
    flex-grow: 1;
    width: 100%;
}

.footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-grow: 1;
}

.footer__social ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-position: inside;
    flex-grow: 1;
    margin: 0.5%;
}

.location-title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.location-title h3 {
    text-align: left;
    font-size: 1em;
    flex-grow: 1;
    max-width: 80%;
}

.location-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 80%;
    width: 100%;
    text-wrap: wrap;
}

.location-info p {
    font-size: 0.75em;
    line-height: 2;
    margin: 0.5% 2.5%;
}


/* --- --- --- --- ---
-- Container Block
--- --- --- --- --- */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    min-height: 105vh;
    background-color: hsl(220, 100%, 99%);
    background-color: #f6f6f6;
}

.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 110vh;
    height: auto;
    margin: 0.5% 0%;
}

.layout-col {
    flex-direction: column;
}

/* -----------------------

home content

------------------------ */

.section__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section__content--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.section__content--col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    height: 100%;
    max-height: 98%;
}

.section__content--row-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 1% 0;
    margin: 0%;
    height: auto;
    flex-grow: 1;
}

.section__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 180px;
    width: auto;
    position: relative;
    font-family: var(--main-font-family);
    padding: 2.5%;
}

.icon__container {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-grow: 1;
    width: 100%;
    /*
        position: absolute;
    left: 5%;
    top: -10%;
    */
}

.section__card-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    width: 100%;
    /*     margin-top: 1%;
    position: absolute;
        right: 0%;*/
}

.section__card-text p {
    text-align: center;
    width: auto;
    line-height: 1.5;
    font-size: 0.9em;
    width: 100%;
    font-weight: 400;
    font-family: "Quicksand", serif;
}

.icon__container img {
    height: auto;
}

.section__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__img--background {
    background-image: url("https://images.unsplash.com/photo-1517639493569-5666a7b2f494?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    width: auto;
    max-width: 40%;
    height: 100%;
}

.section__img img {
    height: auto;
    max-width: 50%;
    margin: 0.5% 0%;
    border-radius: 5px;
    align-self: center;
    border: 1px solid #8884bebb;
    margin: 5%;
    padding: 2%;
    flex-grow: 1;
}

.section__img-alt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 45%;
}

.section__img-alt img {
    max-height: 80%;
    max-width: 80%;
    margin: 0.5% 0%;
    border-radius: 5px;
    align-self: center;
    flex-grow: 1;
}

.img--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card--alt {
    height: 150px;
    width: 100%;
    flex-grow: 1;
    font-size: 1.5em;
    border: 0.5px solid #333;
    font-family: var(--main-font-family);
    flex-direction: row;
    width: 50%;
}

.card--solid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 270px;
    width: 50%;
    background-color: #4e658d;
}

.card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-grow: 1;
    max-width: 40%;
}

.card__img img {
    width: 375px;
    height: 225px;
}

.card__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    width: 100%;
    flex-grow: 1;
    align-self: flex-start;
    margin: 5% 0.5% 0.5% 0.5%;
    line-height: 1.5;
}

.card__text h3 {
    font-size: 0.75em;
    text-decoration: underline;
    margin: 1.5% 0.5%;
}

.card__text p {
    font-size: 0.75em;
    margin: 1.5% 0.5%;
}


/* -----------------------

home content

------------------------ */
.content__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    /*   flex-grow: 1;*/
    height: fit-content;
    flex-basis: 100%;
    /*   flex-grow: 1;*/
    height: 80vh;
}

.content__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.content__col--left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 98%;
    height: 100%;
}

.content__col--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: auto;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.col--rev {
    flex-direction: column-reverse;
}

.row--rev {
    flex-direction: row-reverse;
}

.items_start {
    align-items: flex-start;
}

.item_center {
    align-items: center;
}

.items_end {
    align-items: flex-end;
}

.content_start {
    justify-content: flex-start;
}

.content_center {
    justify-content: center;
}

.content_end {
    justify-content: flex-end;
}

.content__around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content__even {
    justify-content: space-evenly;
    height: 100%;
}

/* height + width */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    height: 10vh;
}

.h__md {
    height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h__60 {
    height: 60vh;
}

.h100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt5 {
    margin: 5% 0.5%;
}




/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */

@media only screen and (min-width: 780px) {

    /* --- --- --- --- ---
-- Header Block
--- --- --- --- --- */
    .header--standard {
        height: auto;
        min-height: 100px;
    }

    .header__content {
        flex-direction: row;
        justify-content: flex-start;
        max-width: fit-content;
        min-width: 50%;
    }
    .header__title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: auto;
        flex-grow: 0.5;
    }
    
    .header__title img {
        width: auto;
        max-width: 75%;
    }
    .header__title h1 {
        font-size: 2em;
    }

    .header__nav {
        justify-content: space-evenly;
    }

    .menu a {
        font-size: 1.25vw;
        font-weight: 300;
    }

    /* --- --- --- --- ---
-- Footer Block
--- --- --- --- --- */
    .footer__standard {
        height: 35vh;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .footer__social {
        justify-content: space-around;
        height: 100%;
        max-width: 30%;
    }

    .footer__social h3 {
        font-size: 1em;
    }

    .footer__section,
    .footer__section--logo {
        max-width: 30%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}