.grid_section {
    display: block;
    height: fit-content;
    margin: 0% 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 5;
}

.grid_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 98%;

    height: 100%;
}


.flex_grid-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0 49%;

    flex-grow: 1;
}

.grid_text-lg {
    align-self: center;
}

.grid_text-lg,
.grid_text-lg h3,
.grid_text-lg h2 {
    font-family: "Open Sans";
}

.grid_text-xl {
    font-family: "Open Sans";
    font-size: 4em;
}

.grid_text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0.5% 1%;
    text-align: center;
}

.grid_button {
    height: 35px;
    background-color: transparent;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 90%;
    text-align: center;
    align-self: center;
    justify-content: center;
    border: 0.5px solid #333;
    border-radius: 50px;
    font-family: "Open Sans";
    margin-top: 5%;
    cursor: pointer;
    text-decoration: none;

}


.grid_text p {
    font-family: "Open Sans";
    font-size: 1em;
    line-height: 2;
}

.grid_text-lg h2 {
    font-size: 4em;
    font-weight: 400;
    color: #333;
}

.grid_text-lg h3 {
    font-size: 1.5em;
    font-weight: 400;
    color: #333;
}

.flex_grid-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.flex_grid-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    border-left: 0.5px dashed #333;
}

.flex_grid-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}

.flex_grid-3 img {
    max-width: 99%;
}

.grid_4 {
    width: 100%;
    align-self: center;
}

.flex_grid-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    border-bottom: 0.5px dashed #333;
    border-top: 0.5px dashed #333;
}

.flex_grid-5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    text-align: center;
}

.flex_grid-6 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.flex_grid-7 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.flex_grid-8 {
    display: flex;
    flex-direction: column;
    max-width: 30%;
    width: 100%;
    border: 0.5px dashed #333;
}



.div1 {
    border: 0.5px solid red;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}

.div4 {
    grid-area: div4;
}

.div5 {
    grid-area: div5;
}

.div6 {
    grid-area: div6;
}

.div7 {
    grid-area: div7;
}

.div8 {
    grid-area: div8;
}



@media only screen and (min-width: 700px) {

    .grid_container {
        max-width: 98%;
        align-self: center;
        flex-wrap: wrap;
        /*         flex-direction: row;*/
        position: relative;
        z-index: 9999999;

    }

    .flex_grid-col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex: 0 49%;
        flex-grow: 1;
    }

    .flex_grid-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        position: relative;
        z-index: 9999999;
    }

    .grid_text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        border: 0.5px solid red;
        width: 100%;
        font-size: 0.75em;
    }

    .grid_text p {
        margin: 1% 0%;
        line-height: 2;
    }

    .grid_button {
        width: 100%;
        margin-top: 5%;
        height: 30px;
    }

    .flex_grid-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-grow: 1;
        width: 100%;
        position: relative;
        z-index: 9999999;
        border-left: 0.5px dashed #333;
    }

    .grid_4 {
        height: 100%;
        width: 100%;
        justify-content: flex-start;
    }

    .flex_grid-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 80%;
        left: -7.5%;
  /*       position: absolute;*/
        top: 45%;
        z-index: 5000;
        border: none;
    }

    .flex_grid-4 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        position: relative;
        flex-grow: 0.5;
        z-index: 9999999;
        border-bottom: 0.5px dashed #333;
        border-top: 0.5px dashed #333;

        border-left: 0.5px dashed #333;
    }

    .flex_grid-5 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-self: flex-start;
        width: 100%;
        flex-grow: 1%;
        position: relative;
        z-index: 9999999;
    }

}

@media only screen and (min-width: 1000px) {

    .grid_container {
        max-width: 90%;
        align-self: center;
    }
}

@media only screen and (min-width: 1200px) {

    .grid_container {
        max-width: 80%;
        align-self: center;
        flex-direction: row;

    }
}

@media only screen and (min-width: 1500px) {

    .grid_container {
        max-width: 50%;
        align-self: center;
    }
}

/*.grid_container {
    display: grid;
    grid-auto-rows: 1fr;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-columns: repeat(3, 0.25fr);
    grid-template-rows: repeat(4, 0.25fr);
}



 <section class="grid_section" id="">

            <div class="grid_container">
                <div class="div1">
                    <div>
                        <h3>FLIGHTS OPERATED</h3>
                        <h2>7,850+</h2>
                    </div>
                </div>
                <div class="div2">
                    <div class="flex_col content_center items_center border" style="width: 100%; min-height: 180vh;">

                        <img src="assets/us-map_4.png" style="height: auto; width: 98%; align-self: center;"
                            class="border" />

                    </div>
                </div>
                <div class="div3">
                    <div>
                        <h3>FLIGHTS OPERATED</h3>
                        <h2>7,850+</h2>
                    </div>
                </div>
                <div class="div4">
                    <div>
                        <h3>FLIGHTS OPERATED</h3>
                        <h2>7,850+</h2>
                    </div>
                </div>
                <div class="div5">
                    <div>
                        <h3>FLIGHTS OPERATED</h3>
                        <h2>7,850+</h2>
                    </div>
                </div>
                <div class="div6">
                    <div>
                        <h3>FLIGHTS OPERATED</h3>
                        <h2>7,850+</h2>
                    </div>
                </div>
                <div class="div7">

                    <div>
                        <h3>FLIGHTS OPERATED</h3>
                        <h2>7,850+</h2>
                    </div>

                </div>
                <div class="div8">
                    <div>
                        <h3>FLIGHTS OPERATED</h3>
                        <h2>7,850+</h2>
                    </div>
                </div>
            </div>
        </section>

        */

/*
.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 2 / 2 / 4 / 3; }
.div3 { grid-area: 1 / 3 / 3 / 4; }
.div4 { grid-area: 3 / 3 / 4 / 4; }
.div5 { grid-area: 1 / 1 / 4 / 2; }
.div6 { grid-area: 4 / 1 / 5 / 2; }
.div7 { grid-area: 4 / 2 / 5 / 3; }
.div8 { grid-area: 4 / 3 / 5 / 4; } 
.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}
  

.div1 {
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}

.div4 {
    grid-area: div4;
}

.div5 {
    grid-area: div5;
}

.div6 {
    grid-area: div6;
}

.div7 {
    grid-area: div7;
}

.div8 {
    grid-area: div8;
}
    */