@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans';
    width: 100%;
}

.border {
    border: 0.5px solid red;
}

button {
    font-family: "Open sans";
    cursor: pointer;
}

/* ------ ------ ------ 

\ sections

------ ------ ------ ------ */
#hero_wrapper {
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    margin: 0%;
    /*     background-color: #8d8d8d6e; */
    /* background-image: url('https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');*/
    background-image: url('https://images.unsplash.com/photo-1701602029591-ed354736e28c');
    background-position: center;
    background-size: cover;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: #fff;
    height: 100%;
    max-width: 98%;
    /*         background-color: #3c555a73;
    background-color: #6a6a6abe;*/
}

.hero_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-basis: 100%;
    font-family: var(--main-font-family);
}

.hero_title h1 {
    align-self: center;
    font-weight: 500;
    font-size: 3.5em;
    line-height: 1.5;
    color: #fafafa;
    flex-grow: 1;
    margin: 0%;
    max-width: 98%;
    text-align: left;
}

.hero_text {
    margin: 0%;
    text-align: left;
    align-self: center;
    font-weight: 400;
    font-size: 1.25em;
    line-height: 2.5;
    max-width: 98%;
    color: #fff;
    flex-grow: 1;
}

.cta__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    flex-basis: 50%;
}

/* ------ ------ ------ 

\ sections

------ ------ ------ ------ */

.card_lg-test {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 0.5% 0%;
    font-family: 'Open sans';
}

.card_lg-test-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 2.5% 0.5%;
    font-family: 'Open sans';
    flex-grow: 1;
}

.flex_container-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
}

.flex_img-test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 75%;
    margin: 0.25%;
}

.flex_img-test img {
    max-width: 98%;
    border-radius: 5px;
}

.flex_card-row {
    display: flex;
    align-items: flex-start;
    width: 100%;
    max-width: 98%;
}

.card_row-item {
    display: flex;
    flex-direction: column;
    margin: 0.25%;
}

.card_row-title {
    margin-left: 2.5%;
}

.card_row-title h3 {
    font-size: 1.75em;
    font-weight: 400;
}

.card_row-content {
    flex-grow: 1;
}

.card_row-text {
    margin: 0.25% 0.5%;
}

.card_row-text p {
    font-size: 1em;
    font-weight: 300;
    line-height: 2;
}

/* ------ ------ ------ 

\ sections

------ ------ ------ ------ */
.card_lg {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 2.5% 0%;
    font-family: 'Open sans';
}

.card_lg-rev {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 2.5% 0%;
    font-family: 'Open sans';
}

.flex_col-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 98%;
}

#cardRow1 {
    background-color: #7BAA8E;
    color: #fff;

}

#cardRow2 {
    background-color: #8C93DF;
    color: #fff;

}

#cardRow3 {
    background-color: #90765B;
    color: #fff;
}

#cardRow4 {
    background-color: #CF852A;
    color: #fff;
}

#cardRow5 {
    background-color: #D62E4F;
    color: #fff;
}

#cardRow6 {
    background-color: #CF852A;
    color: #fff;
}

.card_title-lg h2 {
    font-size: 2.5em;
    font-weight: 500;
    text-align: left;
    line-height: 2;
    margin-bottom: 2.5%;
    color: #2d2d2d;
}

.card_text-lg p {
    font-size: 1.25em;
    font-weight: 300;
    text-align: left;
    line-height: 2;
    margin-bottom: 5%;
    color: #2d2d2d;
}

.card_cta {
    height: 50px;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7BAA8E;
    color: #fff;
    text-decoration: none;
}

.darkened_bg {
    color: #fff;
    background-color: #6a6a6abe;
    max-height: 98%;
}

.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0.5% 0%;
    background-color: #f2f3f4;
}

/* --- --- --- --- ---
-- Container Block
--- --- --- --- --- */
.section_title {
    display: flex;
    align-items: center;
    flex-grow: 0;

    font-family: var(--main-font-family);
}

.section_title h1 {
    margin: 0%;
    text-align: left;
    align-self: center;
    font-weight: 500;
    font-size: 3em;
    line-height: 1.5;
    color: #2d2d2d;
}

.section_title-alt {
    display: flex;
    align-items: center;
    flex-grow: 0;
    font-family: var(--main-font-family);
}

.section_title-alt {
    display: flex;
    align-items: center;
    flex-grow: 0;
    font-family: var(--main-font-family);
}

.section_title-alt h1 {
    margin: 0%;
    text-align: left;
    align-self: center;
    font-weight: 500;
    font-size: 3em;
    line-height: 1.5;
    color: #2d2d2d;
}

.section_title h2 {
    margin: 0%;
    text-align: left;
    align-self: center;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.5;
    flex-grow: 1;
    color: #2d2d2d;
}

.section_title-alt h2 {
    margin: 0%;
    text-align: left;
    align-self: center;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.5;
    flex-grow: 1;
    color: #2d2d2d;
}

.section_title-alt h3 {
    margin: 0%;
    text-align: left;
    align-self: center;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1.5;
    flex-grow: 1;
    color: #2d2d2d;
}

.section_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    color: #2d2d2d;
    font-family: var(--main-font-family);
}

.section_text p {
    max-width: 98%;
    margin: 0.5%;
    line-height: 2.5;
    font-size: 1em;
    text-align: left;
    font-weight: 400;
    color: #2d2d2d;
}

.section_text-alt {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    color: #2d2d2d;
    font-family: var(--main-font-family);
}

.section_text-alt p {
    max-width: 98%;
    margin: 0.5%;
    line-height: 3;
    font-size: 1.25em;
    text-align: left;
    font-weight: 400;
    color: #2d2d2d;
}

#titleImg {
    width: 20%;
    max-width: 90%;
    /*     position: relative;
    z-index: 80000;*/
}

.subscribe_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
}

.subscribe_input {
    height: 50px;
    width: 100%;
    max-width: 80%;
    margin: 0.5%;
    padding: 0.5%;
    padding-left: 0.75%;
    /* */
    cursor: pointer;
    /* */
    background-color: none;
    font-size: 0.9em;
    font-weight: 300;
    color: #222222;
    /* */
    border: none;
    border-radius: 5px;
}

.subscribeBtn {
    height: 50px;
    width: 100%;
    max-width: 35%;
    margin: 0.5%;
    cursor: pointer;
    border: none;
    font-size: 1.25em;
    font-weight: 300;
    background-color: #99c578;
    color: #fff;
    align-self: center;
}

#mapImg {
    width: 100%;
    max-width: 82.5%;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0px 3px 5px 0px rgba(157, 157, 157, 0.2);
}

.collection_col {
    min-height: 200vh;
    width: 100%;
}

#collectionTitle {
    /*     position: absolute;
    z-index: 99999;
    top: 17.5%;
    left: 5%;*/
    width: 100%;
    text-align: left;
    color: #748f87;
    color: #2d2d2d;
    font-weight: 300;
    font-size: 5em;
    color: #fff;
    align-self: center;
    /*     font-family: "Caveat", serif;*/
}

#aboutTitle {
    color: #748f87;
    color: #2d2d2d;
    font-weight: 400;
    font-size: 3em;
    /*     font-family: "Caveat", serif;*/
}

.section_title h2 {
    width: 100%;
    margin: 0%;
    text-align: center;
    align-self: center;
    font-weight: 400;
    font-size: 9vw;
    line-height: 1.5;
}

.section_text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    font-family: var(--main-font-family);
}

.section_text p {
    max-width: 98%;
    margin: 0.5%;
    line-height: 2.5;
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    color: #2d2d2d;
}

.section_text ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    /* */
    margin: 0.5%;
    max-width: 80%;
}

.section_text ul li {
    width: 100%;
    max-width: 98%;
    margin: 0.5%;
    line-height: 2.5;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    list-style-position: inside;
}

.text-med p {
    font-size: 1.5em;
}

.text-lg p {
    font-size: 1.5em;
    font-weight: 300;
}

.text-left, .text-left p, .text-left h2 {
    text-align: left;
}

.text-right {
    text-align: right;
}

.title-light, .title-light h2 {
    color: #f9f9f9;
}

.title-main, .title-main h2 {
    color: #333;
}

.text-main {
    color: #565656;
}

.text-light, .text-light p {
    color: #f9f9f9;
}


.text-mobile {
    color: #f9f9f9;
    font-size: 2em;
    font-weight: 400;
}

.text-standard {
    color: #565656;
    font-size: 3em;
    font-weight: 300;
}



/* 

    width: 100%;
    max-width: 80%;
    height: 50px;
    font-size: 1em;
    font-weight: 200;
    border: none;
    border-radius: 5px;
    background-color: #6777c6;
    background-color: #2b7545;
    color: #fff;
    margin: 0.5% 0%;
    border: none;
    text-wrap: wrap;*/


.border_dec--bottom {
    border-bottom: 0.25px solid #333;
}



.text-center {
    text-align: center;
}

.card_md {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: auto;
    margin: 1% 0%;
}

.card__metrics {
    height: 100%;
    color: #333;
    width: auto;
}

.metric_num {
    font-size: 2em;
    font-weight: 500;
    color: #b79648;
}

.card__metrics p {
    font-size: 0.75em;
    line-height: 2;
    font-weight: 300;
    margin: 0.25%;
    color: #4c4c4c;
}


.text-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    max-width: fit-content;
    margin: 0.25%;

    /*     margin-top: 1%;
    position: absolute;
        right: 0%;*/
}

.card_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    max-width: fit-content;
    margin: 0.25%;

    /*     margin-top: 1%;
    position: absolute;
        right: 0%;*/
}

.card_text p {
    text-align: center;
    line-height: 1.25;
    font-size: 0.9em;
    width: 100%;
    font-weight: 400;
    font-family: 'Open sans';
}

.card_img {
    margin: 0.25%;
    max-width: fit-content;
}

.card_img img {
    height: auto;
}

.cta_button a {
    background-color: transparent;
    font-family: 'Open sans';
    font-size: 1em;
    font-weight: 400;
}

.flex_col-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0.25%;
    margin-bottom: 2.75%;

}

.flex_col-img img {
    max-width: 80%;
    border-radius: 5px;
}

.feature_img-rev {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0.25%;
    width: 100%;
    max-width: 35%;
    margin-bottom: 2.75%;
}

.feature_img-rev img {
    max-width: 80%;
    border-radius: 5px;
}

/* ------ ------ ------ 

banners
------ ------ ------ ------ */
button {
    cursor: pointer;
    font-family: "Open sans";
}

.cta__button {
    width: 100%;
    max-width: 80%;
    height: 50px;
    font-size: 1em;
    font-weight: 200;
    border: none;
    border-radius: 5px;
    background-color: #6777c6;
    background-color: #6fa16b;
    color: #fff;
    margin: 0.5% 0%;
    border: none;
    text-wrap: wrap;
}

.button--solid {
    background: #2c72b7;
    color: #fff;
}

.button--orange {
    align-self: center;
    width: 100%;
    max-width: 60%;
    height: 50px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #FFAA33;
    border: none;
    border-radius: 5px;
}

.cta_buttons-getStarted {
    align-self: center;
    width: 100%;
    max-width: 80%;
    height: 50px;
    padding: 1%;
    margin: 0.5%;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    background-color: #4285F4;
    border: none;
    border-radius: 5px;
}

.button--transparent {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}



.flex_col ol {}

.num_list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.num_list ol, .num_list ul {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    height: auto;
    margin-left: 0.5%;
    max-width: 90%;
}

.num_list li,
.num_list ul li {
    list-style-position: inside;
    text-align: left;
    list-style: none;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 1.25;
    margin: 1.5% 0.5%;
    font-size: 0.8em;
    font-weight: 300;
    color: #333;
}

.li_title {
    font-weight: 500;
    width: 100%;
    color: #fff;
}

.num_icon {
    align-self: center;
    font-size: 0.8rem;
    border-radius: 30rem;
    background-color: #6777c6;
    color: #fff;
    padding: 0.5rem;
    width: 0.75rem;
    text-align: center;
    box-shadow: -0.25px 1px 3px 0.5px rgba(157, 157, 157, 0.2);
}


/* --- --- --- --- ---
-- Container Block
--- --- --- --- --- */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin: 0;
    min-height: 105vh;
    background-color: hsl(220, 100%, 99%);
    background-color: #f6f6f6;
}

.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 99%;
    min-height: fit-content;
    margin: 0.5% 0%;
}

.section__layout-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    margin: 0.5% 0%;
}

.section__layout-md {
    display: block;
    width: 100%;
    min-height: 75vh;
    margin: 0.5% 0%;
    position: relative;
    z-index: 999999;
}

.section__layout-lg {
    display: block;
    width: 100%;
    min-height: 120vh;
    margin: 5% 0%;
    position: relative;
    z-index: 999999;
}

.section__layout-xlg {
    display: block;
    width: 100%;
    height: 125vh;
    margin: 5% 0%;
    position: relative;
    z-index: 999999;
/*     border: 0.5px solid blue;*/
}

.section_content {
    flex-grow: 1;
    align-self: center;
    width: 100%;
    height: auto;
}

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.flex_col {
    display: flex;
    flex-direction: column;
    height: fit-content;

}

.flex_col-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 100%;
}

.flex_row {
    display: flex;
    flex-direction: row;
    height: fit-content;

}

.flex_row-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    max-width: 100%;
}

.flex_col-rev {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
}

.flex_row-rev {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    width: 100%;
}

.content_center {
    justify-content: center;
}

.item_center {
    align-items: center;
}

.content_start {
    justify-content: flex-start;
}

.items_start {
    align-items: flex-start;
}

.content_end {
    justify-content: flex-end;
}

.items_end {
    align-items: flex-end;
}

.content__around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content_even {
    justify-content: space-evenly;
}

/* height + width */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    height: 10vh;
}

.h_75vh {
    height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h_50vh {
    height: 50vh;
}

.h_60vh {
    height: 60vh;
}

.h_100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt5 {
    margin: 5% 0%;
}

.flex-1 {
    flex-grow: 1;
}

.flex-05 {
    flex-grow: 0.5;
}

.flex-0 {
    flex-grow: 0;
}

.flex-2 {
    flex-grow: 2;
}

/* --- --- --- --- ---
-- Footer Block
--- --- --- --- --- */


/* -----------------------

home content

------------------------ */
header {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: 180px;
    background-color: #f6f6f6;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 99%;
    height: 100%;
    font-family: "Open sans", serif;

}

.header__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    max-width: 35%;
}

.header__title img {
    height: 100px;
    width: auto;
}

.header__title h1 {
    color: #333;
    font-weight: 400;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 65%;
}

.nav_item {
    flex-grow: 1;
    height: 20%;
    display: flex;
    max-width: 20%;
    border-left: 0.5px solid #b1b1b1;
}

.nav_item a {
    text-decoration: none;
    margin-left: 5%;
    font-size: 0.9em;
    align-self: center;
    font-family: 'Open sans';
    cursor: pointer;
    color: #333;
}

.header__logo h1 {
    color: #353535;
    font-weight: 400;
    font-size: 3em;
}

.header__logo img {
    height: auto;
    width: auto;
    margin: 0.5%;
    max-width: 45%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.nav-link,
.nav-link a {
    color: #262020;
    font-size: 1.25em;
    font-weight: 400;
    text-align: left;
    flex-grow: 1;
}

.nav-link:hover {
    color: #262020;
}

.footer__standard {
    height: fit-content;
    margin: 0;
    width: 100%;
    max-width: 100%;
    font-family: "Open Sans", serif;
    background-color: #f6f6f6;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
    margin: 0.5% 0%;
}

.footer__section-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    max-width: 99%;
}

.footer__section--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer_col img {
    height: 100px;
    width: auto;
}

.footer_col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 99%;
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    height: 80px;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    margin: 1% 0%;
}

.footer__social h3 {
    text-align: left;
    font-size: 1.5em;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
}

.footer__social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow: 0.5;
    width: 100%;
    max-width: 98%;
}

.footer_icon {
    font-size: 32px;
    width: auto;
    color: #2d2d2d;
}

.footer_info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}

.footer_info-title h3 {
    text-align: left;
    max-width: 98%;
    font-size: 1em;
    flex-grow: 1;
}

.footer_info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
}

.footer_info-text p {
    text-align: left;
    max-width: 95%;
    font-size: 0.75em;
    line-height: 2;
    flex-grow: 1;
}

@media only screen and (min-width: 740px) {


    .section__layout-lg {
        max-width: 99%;
    }


    #titleImg {
        width: 25%;
        position: relative;
        z-index: 80000;
        max-width: 99%;
    }

    #mapImg {
        width: 75%;
        align-self: center;
        border-radius: 5px;
        box-shadow: 0px 3px 5px 0px rgba(157, 157, 157, 0.2);
    }

    .subscribe_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        margin: 5% 0%;
    }

    .subscribe_input {
        height: 50px;
        width: 100%;
        max-width: 50%;
        margin: 0.5%;
        padding: 0.5%;
        padding-left: 0.75%;
        /* */
        cursor: pointer;
        /* */
        background-color: none;
        font-size: 0.9em;
        font-weight: 300;
        color: #222222;
        /* */
        border: none;
        border-radius: 5px;
    }

    .subscribeBtn {
        align-self: center;
        /* */
        height: 50px;
        width: 100%;
        max-width: 30%;
        /* */
        margin: 0.5%;
        /* */
        font-size: 1.25em;
        font-weight: 300;
        background-color: #99c578;
        color: #fff;
        /**/
        cursor: pointer;
        border: none;

    }

    /*     #collectionTitle {
        position: absolute;
        z-index: 99999;
        top: 17.5%;
        left: 9%;
        max-width: 99%;
        color: #748f87;
        color: #2d2d2d;
        font-weight: 400;
        font-size: 6em;
        font-family: "Caveat", serif;
    }*/

    #aboutTitle {
        color: #748f87;
        color: #2d2d2d;
        font-weight: 400;
        font-size: 3em;
        /*    font-family: "Caveat", serif;*/
    }

    /* ##text */
    .section_title h1 {
        max-width: 90%;
        margin: 0%;
        text-align: left;
        align-self: center;
        font-weight: 500;
        font-size: 3em;
        line-height: 1.5;
    }



    .section_text p {
        line-height: 2.5;
        font-size: 1.25em;
    }

    .cta_buttons-getStarted {
        width: 100%;
        max-width: 35%;
        align-self: flex-start;
    }

    .num_list, .num_list ol {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
        max-width: 80%;
        height: auto;
        margin: 2% 0%;
        margin-bottom: 3%;
        position: relative;
        margin-left: 1%;
        z-index: 9999999;
    }

    .flex_col {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }

    .card_md {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
        width: auto;
        margin: 1% 0%;
        width: 100%;
        max-width: 33%;
    }



    /* --- --- --- --- ---
-- Footer Block
--- --- --- --- --- */

    header {
        min-height: 120px;
    }

    .header__content {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
        width: auto;
        margin: 0.5%;
        max-width: 98%;
        flex-grow: 1;
    }

    .header__logo {
        flex-grow: 1;
    }

    .header-logo img {
        height: 30%;
        width: 30%;
    }

    .footer__standard {
        height: 35vh;
    }

    .footer__content {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .footer_col img {
        height: 50%;
        width: 50%;
    }

    .footer__section-row {
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 100%;
    }

    .footer__section--logo {
        flex-direction: column;
        height: 100%;
        max-width: 25%;
        flex-grow: 0.5;
    }

    .footer__location {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .footer__social {
        flex-direction: column;
        flex-grow: 0.5;
    }

    .footer__social h3 {
        font-size: 1em;
        flex-grow: 0.5;
    }

    .footer__social-icons {
        display: flex;
        flex-direction: row;
        flex-grow: 0.5;
        width: 100%;
        max-width: 25%;
        justify-content: space-around;
    }
}


@media only screen and (min-width: 900px) {
    #hero_wrapper {
        height: 80vh;
    }

    .hero_content {
        max-height: 98%;
    }

    .hero_title {
        justify-content: space-around;
        align-self: center;
    }

    .hero_title h1 {
        flex-grow: 0;
        font-size: 7.5em;
        max-width: 80%;
        align-self: flex-start;
        margin-left: 2.5%;
        line-height: 1.5;
        font-weight: 600;
    }

    .hero_text {
        flex-grow: 0;
        font-size: 1.5em;
        max-width: 60%;
        align-self: flex-start;
        margin-left: 2.5%;
        line-height: 2;
        font-weight: 500;
    }

    .cta__buttons {
        flex-direction: row;
        max-width: 80%;
    }

    .cta__button {
        max-width: 30%;
        height: 65px;
        font-size: 1.25em;
    }

    /* ##text */
    .section_title h1 {
        max-width: 90%;
        margin: 0%;
        text-align: left;
        align-self: center;
        font-weight: 500;
        font-size: 5em;
        line-height: 1.5;
    }

    .section_title h2 {
        font-size: 4em;
    }

    .section_title-alt h2 {
        font-size: 4em;
    }

    .section_text p {
        font-size: 1.25em;
        font-weight: 300;
    }

    /* ##cards */
    /* ------ ------ ------ 

\ sections

------ ------ ------ ------ */

    .card_lg-test {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        margin: 0.5% 0%;
        width: 100%;
        font-family: 'Open sans';
  /*       border: 0.5px solid red;*/
    }

    .card_lg-test-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        min-height: 50vh;
        margin: 2.5% 1.5%;
        width: 100%;
        font-family: 'Open sans';
        flex-grow: 1;
/*         border: 0.5px dashed blue;*/
    }

    .flex_container-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        max-width: 65%;
    }

    .flex_img-test {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        max-width: 40%;
        margin: 0.25%;
    }

    .flex_img-test img {
        max-width: 90%;
        align-self: center;
        border-radius: 5px;
    }

    .flex_card-row {
        display: flex;
        align-items: center;
        align-self: center;
        width: auto;
        height: 35vh;
        margin: 2.5% 1.5%;
    }

    .card_row-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0.25%;
        height: 98%;
    }

    .card_row-title {
        flex-grow: 1;
        display: flex;
        align-items: center;
        margin-left: 2.5;
    }

    .card_row-title h3 {
        font-size: 3.5em;
        font-weight: 400;
    }

    .card_row-content {
        flex-grow: 0;
    }

    .card_row-text {
        max-width: 98%;
        margin: 0.25% 0.5%;
    }

    .card_row-text p {
        font-size: 1.5em;
        font-weight: 300;
        line-height: 3;
    }

    /* ------ ------ ------ 

\ sections

------ ------ ------ ------ */
    .card_lg {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 60vh;
        width: 100%;
        align-self: center;
    }

    .card_lg-rev {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        height: 60vh;
        width: 100%;
        align-self: center;
    }


    .flex_col-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.25%;
        width: 100%;
        max-width: 60%;
        position: relative;
        height: fit-content;
        max-height: 60%;
    }

    .flex_row-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0.25%;
        width: 100%;
        max-width: 60%;
        position: relative;
        height: fit-content;
        max-height: 60%;
    }

    .card_title-lg {
        flex-grow: 1;
        z-index: 9999999;
        width: 100%;
        max-width: 99%;
        margin-top: 1%;
        align-self: flex-start;
    }

    .card_title-lg h2 {
        font-size: 5em;
        font-weight: 400;
        text-align: left;
        line-height: 2;

    }

    .card_text-lg {
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 9999999;
        width: 100%;
        max-width: 99%;

        flex-grow: 1;
        margin-bottom: 1%;
    }

    .card_text-lg p {
        font-size: 1.75em;
        font-weight: 300;
        line-height: 3;
    }

    .flex_col-img {
        display: flex;
        justify-content: flex-start;
        flex-grow: 1;
        max-width: 99%;
        margin: 0.25%;
    }

    .flex_col-img img {
        max-width: 70%;
    }

    .feature_img {
        position: absolute;
        right: 65%;
        z-index: 5000;
        top: 10%;

    }

    .feature_img-rev {
        position: unset;
        right: -95%;
        z-index: 5000;
        top: 10%;
        max-width: 98%;
    }

    .feature_img-rev img {
        max-width: 70%;
    }

    .collection_col {
        min-height: 150vh;

        display: flex;
        align-self: center;
        width: 100%;
        align-items: center;
    }
}


@media only screen and (min-width: 1200px) {


    .section__layout-lg {
        max-width: 99%;
    }

    .flex_col-img img {
        max-width: 60%;
    }

    .flex_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
    }

}