@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Figtree:ital,wght@0,300..900;1,300..900&family=Indie+Flower&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* -- -- -- -- -- -- -- -- --
background-color: #ECE8EC;
#00B8A9
#00B8A9
#6E7E7A
#18151B

EFF4F5
B1A899
84A0CE
8777A1
323BBA
-- -- -- -- -- -- -- -- -- -- -- -- */

* {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin: 0;
    min-height: 105vh;
    position: relative;
    z-index: 999999;
}

.section_layout-sm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 99vh;
    margin: 0.5% 0%;
    position: relative;
    z-index: 99999999999;
    margin: 0.5% 0%;
}

.section_layout-md {
    display: block;
    width: 100%;
    min-height: 120vh;
    margin: 0.5% 0%;
    position: relative;
    z-index: 999999;
}

.section_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    position: relative;
    margin-top: 10%;
    z-index: 99999999;
    font-family: "Raleway", serif;
}

.section_text p {
    max-width: 98%;
    margin: 0.75%;
    margin-bottom: 2.5%;
    line-height: 2.5;
    font-size: 1em;
    text-align: left;
    font-weight: 300;
    color: #2d2d2d;
}

#projectBg {
    position: absolute;
    width: 45%;
    z-index: 4000;
    right: 1%;
    bottom: 45%;
}

.flex_col-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 105vh;
    width: 100%;
    max-width: 100%;
}

/* --- --- 

--- --- --- */

.card_sm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 100%;
    max-width: 98%;
    margin: 1% 0%;
    margin-bottom: 5%;
    border: none;
    border-left: 0.5px solid #333;
    color: #333;
    font-family: "Raleway", serif;
}

.card_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    flex-grow: 0.5;
    height: auto;
    max-width: 95%;
    font-size: 1.75em;
    font-weight: 400;
    font-family: "Raleway", serif;
}

.card_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    max-width: fit-content;
    margin: 0.25%;
}

.view_row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-grow: 2;
    margin: 0%;
    max-width: 90%;
}

.view_row p {
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
    font-family: "Figtree", serif;
}

.view_icon {
    text-decoration: none;
    color: #3b3b3b;
    text-decoration: none;
    font-size: 1.75em;
}

.view_row a:hover {
    color: #559c6c;
}


/* -----------------------

home content

    background-color: #ECE8EC;
    #00B8A9
    #00B8A9
    #6E7E7A
    #18151B
 
------------------------ */
header {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: 200px;
    /*  background-color: #18151B;*/
    background-color: #ECE8EC;
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
    font-family: "Figtree", serif;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 98%;
    height: 100%;
    margin-top: 2.5%;
}

.nav_item {
    flex-grow: 1;
    height: auto;
    width: 100%;
    display: flex;
    border-left: 0.5px solid #b1b1b1;
}

.nav_item a {
    text-decoration: none;
    margin-left: 5%;
    font-size: 1em;
    align-self: center;
    font-family: "Figtree", serif;
    cursor: pointer;
    color: #5d5d5d;
}

.header_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: auto;
    flex-basis: 100%;
    width: 100%;
    margin: 0%;
    max-width: 98%;
    color: #5d5d5d;
}

.header_logo h1 {
    font-weight: 400;
    font-size: 1.75em;
}

.header_logo h2 {
    font-weight: 400;
    font-size: 1.5em;
}

#headerLogo {
    height: 100px;
    width: auto;
}

.nav-link:hover {
    color: #262020;
}

/* - Footer Block */
.footer__standard {
    height: fit-content;
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 180px;
    font-family: "Figtree", serif;
    background-color: #18151B;
}

.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    height: 100%;
}

.footer_col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: auto;
    width: 100%;
    max-width: 99%;
    flex-grow: 0.5;
}

.footer_bottom_row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 50%;
    flex-grow: 0.5;
}

.footer_bottom_row a {
    width: auto;
    margin: 1%;
    cursor: pointer;
}

.footer_icon {
    font-size: 25px;
    color: #f5f5f5;
    width: auto;
}

.footer_info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    color: #fff;
    max-height: 98%;
    flex-grow: 1;
    border-bottom: 0.5px solid #fff;
    max-width: 75%;
}

.footer_info-text a {
    color: #f6f6f6;
    font-weight: 300;
    font-size: 1em;
    letter-spacing: 15%;
    max-height: 98%;
    text-decoration: none;
}

/* 
.footer_info-text a:hover {
    text-decoration: underline;
    font-size: 1.05em;
    max-height: 98%;
}*/

.footer_info-text h3 {
    text-align: left;
    font-size: 0.95em;
    font-weight: 300;
    line-height: 2;
    flex-grow: 1;
    text-align: center;
}

/* --- 

------- */
.flex_row {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    max-width: 99%;
}

.flex_row-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    max-width: 100%;
}

.flex_col-rev {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    width: 100%;
    max-width: 99%;
}

.flex_row-rev {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    width: 100%;
}

.content_center {
    justify-content: center;
}

.item_center {
    align-items: center;
}

.content_start {
    justify-content: flex-start;
}

.items_start {
    align-items: flex-start;
}

.content_end {
    justify-content: flex-end;
}

.items_end {
    align-items: flex-end;
}

.content__around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content_even {
    justify-content: space-evenly;
}

/* height + width */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    height: 10vh;
}

.h_75vh {
    height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h_50vh {
    height: 50vh;
}

.h_60vh {
    height: 60vh;
}

.h_100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt5 {
    margin: 5% 0%;
}

.flex-1 {
    flex-grow: 1;
}

.flex-05 {
    flex-grow: 0.5;
}

.flex-0 {
    flex-grow: 0;
}

.flex-2 {
    flex-grow: 2;
}

/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */

@media only screen and (min-width: 800px) {


    .section_text {
        max-width: 75%;
        align-self: center;
        margin: 0.5%;
        margin-top: 10%;
        justify-content: flex-start;
    }

    .section_text p {
        font-size: 1.25em;
        line-height: 3;
        margin-bottom: 2.5%;
    }

    #projectBg {
        position: absolute;
        width: 25%;
        z-index: 4000;
        right: 15%;
        bottom: 45%;
    }

    .flex_col-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        max-width: 90%;
    }

    .card_sm {
        border: none;
        border-left: 0.5px solid #333;
    }


    /* -- -- 

    -- -- -- */

    .header_content {
        flex-direction: row;
        align-items: center;
        height: 100%;
        margin: 0%;
    }

    .header_nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        max-width: 50%;
        height: 100%;
    }

    .nav_item {
        flex-grow: 1;
        height: auto;
        width: 100%;
        display: flex;
        border-left: 0.5px solid #b1b1b1;
    }

    .nav_item a {
        text-decoration: none;
        margin-left: 5%;
        font-size: 1.25em;
        align-self: center;
        cursor: pointer;
        font-weight: 500;
    }

    .header_logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: auto;
        height: 100%;
        margin: 0%;
        line-height: 1.5;
        margin-left: 2.5%;
    }

    .header_logo h1 {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 2.5em;
        flex-grow: 0;
    }

    .header_logo h2 {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 1.5em;
        flex-grow: 0;
    }

    .footer__standard {
        height: 35vh;
    }

    .footer__content {
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
    }

    .footer_col img {
        height: 50%;
        width: 50%;
    }

    .footer__section-row {
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 100%;
    }

    .footer__section--logo {
        flex-direction: column;
        height: 100%;
        max-width: 25%;
        flex-grow: 0.5;
    }

    .footer__location {
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    .footer__social {
        flex-direction: column;
        flex-grow: 0.5;
    }

    .footer__social h3 {
        font-size: 1em;
        flex-grow: 0.5;
    }

    .footer__social-icons {
        display: flex;
        flex-direction: row;
        flex-grow: 0.5;
        width: 100%;
        max-width: 25%;
        justify-content: space-around;
    }
}