@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: hsl(220, 100%, 99%);
    background-color: #f6f6f6;
}

/* -

- */

.cta__button {
    height: 3em;
    width: auto;
    border: none;
    font-size: 1.25em;
    font-weight: 300;
    flex-grow: 1;
    margin: 0.5%;
    cursor: pointer;
}

.view__button {
    height: 3em;
    width: auto;
    border: none;
    font-size: 1em;
    font-weight: 300;
    margin: 0.5%;
    cursor: pointer;
    border-radius: 5px;
}

.button--solid--blue,
.view__button {
    background: #2c72b7;
    color: #fff;
}

.button--solid--green {
    background-color: #21a871;
    color: #fff;
    border-radius: 30px;
    width: 25vw;
}

.button--transparent {
    background: transparent;
    color: #fff;
    border: 0.5px solid #fff;
}


.container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
    margin: 1% 0%;
}


/* ----------------
header, footer
---------------- */
.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 1% 0%;
    min-height: 99vh;
}


.section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98%;
    height: auto;
    flex-grow: 1;
    font-family: 'Open sans';
}

.section__content--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
    height: fit-content;
}

/* - -*/
.col__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width: auto;
    max-width: 40%;
    margin: 0.5%;
    height: auto;
}


/* ----------------
header, footer
---------------- */
.card__sm {
    height: 180px;
    margin: 0.5% 1%;
    border-left: 0.5px solid #333;
    color: #333;
    font-family: 'Open sans';
    width: 100%;
    max-width: 98%;
    margin: 1% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card__title--sm {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
    font-size: 2vw;
}


.card__md {
    height: 360px;
    margin: 0.5% 1%;
    width: 100%;
    max-width: 70%;
    border: 0.5px solid #333;
    color: #333;
    font-family: 'Open sans';
    border: 0.5px solid #333;
}

.card__lg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    margin: 0%;
    color: #333;
    font-family: 'Open sans';
    border: 0.5px solid #333;
}

.card__title--md {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
    font-size: 5vw;
}

.card__title--md h2 {
    width: 100%;
    font-size: 4vw;
    max-width: 98%;
    text-align: left;
    font-family: 'Open sans';
}

.card__link {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
    color: #333;
    font-weight: 300;
    font-size: 1.25vw;
}

/* */
.card__text--md {
    width: 100%;
    font-size: 2.5vw;
    font-weight: 400;
    width: 100%;
    font-family: 'Open sans';
    line-height: 2.5;
    margin: 0.5%;
    max-width: 98%;
    text-wrap: wrap;
}

.card__text--sm {
    width: 100%;
    font-size: 1vw;
    max-width: 98%;
    margin: 0.5%;
    width: 100%;
    font-family: 'Open sans';
}

.col__img img {
    width: auto;
    max-width: 99%;
}

.img--col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    margin: 0%;
}

.card__img--md img {
    width: 50%;
}


/* -- lists --  */
.ul__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 90%;
    font-family: 'Open sans';
}

.ul__col ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5% 1.5%;
}

.ul__col ul li {
    list-style: none;
    list-style-position: inside;
    width: auto;
    text-align: left;
    line-height: 2;
    font-size: 3vw;
    font-weight: 300;
}

/* ----------------
header, footer
---------------- */
.content__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    max-height: 98%;
    width: 100%;
    flex-grow: 1;
}

.col--rev {
    flex-direction: column-reverse;
}

.content__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0.5%;
}

.row--reverse {
    flex-direction: row-reverse;
}

.content__col--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    max-width: 98%;
    flex-grow: 1;
}

.content__col--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: auto;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.items_end {
    align-items: flex-end;
}

.items_start {
    align-items: flex-start;
}

.content_start {
    justify-content: flex-start;
}

.content__around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content_center {
    justify-content: center;
}

.content__even {
    justify-content: space-evenly;
    height: 100%;
}

/* height + width */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    height: 10vh;
}

.h__md {
    height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h__60 {
    height: 60vh;
}

.h100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt5 {
    margin: 5% 0.5%;
}


/* ----------------
header, footer
---------------- */
.title__row--med {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.title__row--med h3 {
    text-align: left;
    font-size: 1vw;
    flex-grow: 1;
}

.section__title--med {
    display: flex;
    align-items: center;
    height: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
}

.section__title--med h2 {
    font-family: 'Open sans';
    font-size: 8vw;
    font-weight: 500;
    width: auto;
    text-align: left;
    color: #3a3535;
}

.section__title--test {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 0%;
    font-family: 'Open sans';
    width: 100%;
    height: auto;
}

.section__title--test h2 {
    font-size: 5vw;
    margin: 0.5%;
    flex-grow: 1;
    color: #3a3535;
}

.section__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    margin: 0.5%;
    justify-content: center;
    align-items: center;
    font-family: 'Open sans';
    border: 0.5px dashed green;
    height: auto;
}

.section__text p {
    font-size: 2vw;
    width: 100%;
    max-width: 90%;
    line-height: 2.5;
    margin: 0.5%;
    font-weight: 300;
}




/* -----------------------

home content

------------------------ */
header {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: 180px;
    background-color: #f6f6f6;
}


.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
    height: 100%;
    font-family: "Open sans", serif;
}

.main__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-grow: 2;
    height: auto;
    max-width: 98%;
    margin: 0%;
}

.nav-link,
.nav-link a {
    color: #262020;
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    flex-grow: 1;
}

.header__logo h1 {
    color: #353535;
    font-weight: 400;
    font-size: 3em;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    width: auto;
    height: auto;
    margin: 0%;
}

#headerLogo {
    height: 100px;
    width: auto;
}

.nav-link:hover {
    color: #262020;
}



/* - Footer Block */


.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    height: auto;
    min-height: 150px;
    margin: 0;
    background-color: #f9f9f9;
    background-color: #333;
    font-family: "Open Sans", serif;
}

.footer__section--logo {
    width: auto;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__section--logo img {
    max-width: 99%;
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    height: auto;
    width: 100%;
    color: #262020;
    color: #fff;
}

.footer__text {
    flex-grow: 1;
}

.footer__location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    flex-grow: 1;
    width: 100%;
}


.location__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    height: auto;
}

.location__info p {
    font-size: 1vw;
    line-height: 2;
    margin: 0.5% 2.5%;
}

.location__info ul {
    list-style: none;
    flex-grow: 1;
}

.location__info ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    list-style-position: inside;
    flex-grow: 1;
    margin: 0.5%;
    font-size: 1vw;
    line-height: 2;
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-grow: 1;
    height: 100%;
    max-width: 30%;
}

.footer__social h3 {
    text-align: left;
    font-size: 1em;
    flex-grow: 1;
    max-width: 80%;
}

.footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
}

.footer__social ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-position: inside;
    flex-grow: 1;
    margin: 0.5%;
}

#socialIcon {
    width: 30px;
    height: 30px;
}

/* -----------------------

home content

------------------------ */
#welcome {
    height: auto;
    border: 0.5px solid red;
}

#examples {}

.project_section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

#projects {
    position: absolute;
    z-index: 8000;
    width: 50%;
    left: 15%;
    bottom: 20%;
}

#projectBg {
    position: relative;
    width: 35%;
    z-index: 4000;
    left: 15%;
    top: -5%;
    border: 1px solid red;

}

#projectBg img {
    width: 98%;
}


/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */



@media only screen and (min-width: 800px) {


    .header__content {
        flex-direction: row;
    }

    .main__title {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        max-height: 80%;
        margin: 0.5%;
        max-width: 60%;
    }

    .nav-link,
    .nav-link a {
        color: #262020;
        font-size: 1em;
        font-weight: 400;
        text-align: right;
    }
}