@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Hammersmith+One&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&family=Playfair+Display:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3, a, p {
    font-family: 'Open sans';
}

:root {
    --main-font-family: "Open Sans", serif;
}

.border {
    border: 1px solid red;
}

body {
    background-color: #efeff0;
}


:root {
    --main-font-family: 'Open Sans', serif;
    --primary-bg-color: #718ab480;
    --primary-font-color: #333;
    --secondary-font-color: #565656;
    --light-font-color: #fff;
    --cta-border-color: #fff;
    --nav-border-color: #b1b1b1;
    --bg-light: #efeff0;
}

/* --- --- --- --- ---
-- Header Block
--- --- --- --- --- */
#mainNav {
    display: none;
}

.mobile_nav {
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 5000;
    background-color: #f6f6f6;
}

.mobile__title {
    width: auto;
}

.mobile__title img {
    height: 100px;
    width: auto;
}

.mobile_icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: auto;
    margin-right: 2.5%;
    padding: 1%;
}

#showMobileIcon {
    cursor: pointer;
    align-self: center;
    height: auto;
    font-size: 28px;
    color: #6a6a6a;
    margin: 0.5%;
}

#mobileMenu {
    height: auto;
    min-width: 35%;
    position: absolute;
    z-index: 99999999999;
    right: 3%;
    top: 100px;
    background-color: #f9f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

#mobileMenu li {
    display: block;
    padding: 12px 16px;
    margin: 0.5%;
    text-align: left;
    line-height: 2;
    list-style-type: none;
    list-style-position: inside;
}

#mobileMenu li a {
    text-decoration: none;
    color: #333;
    font-size: 1em;
    font-family: var(--main-font-family);
}

#mobileMenu li a:hover {
    font-size: 1.25em;
}

.header_content-new {
    width: 100%;
    max-width: 99.99%;
    margin: 0%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 2.5% 0%;
    margin: 0%;
    /*
        position: fixed;
    z-index: 999999;
    top: 0%;
    */

}

#headerContent {
    /*     background-color: transparent;
    transition: background-color 0.1s ease-in-out;\
    background-color: #fafafa;*/

}




#headerTitle h1 {
    font-size: 1.25em;
    transition: color 0.3s ease-in-out;
    color: #333;
}


#headerTitle.scrolled h1 {
    color: #333;

}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.25%;
    max-width: 98%;
    flex-grow: 1;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 75%;
    margin: 0.5% 0%;
    padding: 0.25%;
    margin-left: 2.5%;
    flex-grow: 1;
}


.header_logo img {
    height: 80px;
    width: 100px;
}

.header_content-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 40%;

}




.nav_item {
    flex-grow: 1;
    height: auto;
    display: flex;
    max-width: 20%;
    font-weight: 400;
}

.nav_item a {
    text-decoration: none;
    margin-left: 2.5%;
    font-size: 0.75em;
    align-self: center;
    text-align: center;
    cursor: pointer;
    color: #333;
}



header {
    position: sticky;
    top: 0;
    max-width: 100%;
    border-bottom: 1px solid #eee;
    z-index: 999999;
    background-color: #333;
    background-color: #fafafa;
    height: 10vh;
    z-index: 9999999;
    box-shadow: -0.25px 1px 3px 0.5px rgba(157, 157, 157, 0.2);
}


#header_wrapper {
    height: 90vh;
    min-height: fit-content;
    width: 100%;
    max-width: 99.99%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*   background-color: #8d8d8d6e;
   background-image: url('https://images.unsplash.com/photo-1683971336619-d445cbec0276?q=80&w=1489&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');*/
    /*     background-image: url('https://images.unsplash.com/photo-1586063029643-fd87377743ef?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;*/
}

/* --- --- --- --- ---
-- Footer Block
--- --- --- --- --- */
.footer_standard {
    height: 50vh;
    margin: 0;
    font-family: "Open Sans", serif;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    height: 100%;
    margin-bottom: 1.5%;
    max-width: 98%;
}

.footer_content-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    max-width: 98%;
    align-self: center;
    margin: 2.5% 0%;
    border-top: 0.5px solid #fff;
}

.footer_logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.footer_logo img {
    height: 125px;
    width: auto;
    align-self: flex-start;
    max-width: 98%;
}

.footer_row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: auto;
    flex-grow: 1;
    width: 100%;
}

.footer_col {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    height: 100%;
    width: auto;
    flex-grow: 1;
}

.footer_text-3 p {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
}

.footer__section-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    height: 100%;
    width: 100%;
    margin: 0%;
}

.footer_info-location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    align-self: center;
}


.footer_col-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    line-height: 2;

}

#footer_text-md {
    font-weight: 500;
    font-size: 0.75em;
    color: #fff;
    margin-left: 1%;
}

#footer_text-xs {
    font-style: italic;
    color: #fff;
    font-size: 0.75em;
    margin-left: 1%;
}

.footer_social {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
    max-width: 35%;
}

.footer_social h3 {
    text-align: left;
    font-size: 1.25em;
    flex-grow: 0.5;
    color: #fff;
    font-weight: 400;
    margin: 2.5% 0%;
}

.footer_social-icons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    margin: 2.5% 0%;
    max-width: 99%;
}

.footer_icon {
    font-size: 25px;
    width: auto;
    color: #fff;
    align-self: center;
    flex-grow: 1;
}

.footer_info-location h3 {
    color: #fff;
}

.footer_info-location p {
    color: #fff;
    font-size: 0.75em;
    line-height: 2;
}



/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */

@media only screen and (min-width: 700px) {

    /* --- --- --- --- ---
-- Header Block
--- --- --- --- --- */

    .header_content-new {
        width: 100%;
        max-width: 99.99%;
        margin: 0%;
        display: flex;
        margin: 0%;
    }


    .header__content {
        width: 100%;
        margin: 0%;
        display: flex;
        justify-content: space-between;
        background-color: #f6f6f6;
    }


    .header__title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0%;
    }

    .header__title img {
        height: 100px;
        width: auto;
    }

    .header__nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .nav_item {
        flex-grow: 1;
        display: flex;
    }

    .nav_item a {
        text-decoration: none;
        width: fit-content;
        min-width: 150px;
        padding: 0.25%;
        max-width: 99%;
        padding-left: 1%;
        font-size: 0.9em;
        align-self: center;
        cursor: pointer;
    }

    .nav_item a:hover {
        color: #666;
    }

    .mobile_nav {
        display: none;
    }

    /* --- --- --- --- ---
-- Footer Block

--- --- --- --- --- */
    footer {
        min-height: 35vh;
    }

    .footer_content {
        flex-direction: row;
        justify-content: space-between;
        flex-grow: 1;
    }

    .footer_logo {
        flex-direction: column;
    }

    .footer_info-location {
        justify-content: center;
        align-items: center;
    }

    .footer_content-bottom {
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: center;
        justify-content: center;
        height: auto;
        flex-grow: 0.5;
    }

    .footer_col-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer_text-md {
        line-height: 2.5;
        font-size: 1em;
        font-weight: 300;
        align-self: center;
        flex-grow: 1;
    }

    #footer_text-xs {
        color: #fff;
        line-height: 2.5;
        font-size: 0.75em;
        align-self: center;
    }

    .footer_social {
        flex-direction: column;
        flex-grow: 0.5;
    }

    .footer_social h3 {
        font-size: 1.25em;
        font-weight: 400;
        margin: 0.5%;
        align-self: flex-end;
        max-width: 35%;
    }

    .footer_social-icons {
        display: flex;
        align-self: flex-end;
        flex-direction: row;
        flex-grow: 0.5;
        margin: 0.5%;
        max-width: 35%;
        justify-content: space-around;
    }

}