
/* ------ ------ ------ 

lists

------ ------ ------ ------ */
.ul__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 90%;
    font-family: 'Open sans';
}

.ul__col ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5% 1.5%;
}

.ul__col ul li {
    list-style: none;
    list-style-position: inside;
    width: auto;
    text-align: left;
    line-height: 2;
    font-size: 3vw;
    font-weight: 300;
}