@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open sans';
    width: 100%;
}

.border {}

button {
    font-family: "Open sans";
    cursor: pointer;
}

/* ------ ------ ------ 

\ sections

------ ------ ------ ------ */



.header_content-new {
    width: 100%;
    max-width: 99.99%;
    margin: 0%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    height: 10%;
    margin: 0%;
    /*
        position: fixed;
    z-index: 999999;
    top: 0%;
    */

}

#headerContent {
    /*     background-color: transparent;
    transition: background-color 0.1s ease-in-out;\
    background-color: #fafafa;*/

}


#headerContent.scrolled {}




#headerTitle h1 {
    color: #fff;
    font-size: 0.75em;
    transition: color 0.3s ease-in-out;
}

.navStyle {
    color: #fff;
}

.navStyle.scrolled {
    color: #333;
}

#headerTitle.scrolled h1 {
    color: #333;

}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0%;
    flex-grow: 1;
}

.header_logo img {
    height: 100px;
    width: auto;
}

.header_content-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 40%;
    color: #fff;
}


.header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 75%;
    margin: 0.5% 0%;
}

.nav_item {
    flex-grow: 1;
    height: auto;
    display: flex;
    max-width: 20%;
    border-left: 0.5px solid #b1b1b1;
}

.nav_item a {
    text-decoration: none;
    margin-left: 5%;
    font-size: 0.9em;
    align-self: center;
    font-family: 'Open sans';
    cursor: pointer;
    color: #fff;
}

/* ------ ------ ------ 

\ sections

------ ------ ------ ------ */

#hero_wrapper {
    height: 150vh;
    min-height: fit-content;
    width: 100%;
    margin: 0%;
    background-image: url('https://images.unsplash.com/photo-1683971336619-d445cbec0276?q=80&w=1489&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;

}

header {
    background-color: #333;
}

#header_main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    /*     background-color: #3c555a73;*/
    height: 85%;

}

#header_wrapper {
    height: 100vh;
    min-height: fit-content;
    width: 100%;
    max-width: 99.99%;
    margin: 0%;
    background-color: #8d8d8d6e;
    /*   background-image: url('https://images.unsplash.com/photo-1683971336619-d445cbec0276?q=80&w=1489&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');*/
    background-image: url('https://images.unsplash.com/photo-1586063029643-fd87377743ef?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-size: cover;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    color: #fff;
    height: 100%;

    /*     background-color: #6a6a6abe;*/
    background-color: #6a6a6a45;
}

.hero_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-basis: 100%;
    font-family: var(--main-font-family);
}

.hero_title h1 {
    margin: 0%;
    text-align: center;
    align-self: center;
    font-weight: 500;
    font-size: 3em;
    line-height: 1.5;
    color: #fff;
    flex-grow: 0;
}

.hero_text {
    margin: 0%;
    text-align: center;
    align-self: center;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 3;
    color: #fff;
    flex-grow: 0.5;
    margin: 5% 0%;

}

.hero_button {
    align-self: flex-start;
    width: 100%;
    max-width: 45%;
    height: 50px;
    font-size: 1em;
    font-weight: 200;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #6777c6;
    color: #fff;
    margin-left: 2.5%;
}

/* ------ ------ ------ 

\ sections

------ ------ ------ ------ */
.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    height: auto;
    margin: 0.5% 0%;
    background-color: #f2f3f4;
}

.section_title {
    display: flex;
    align-items: center;
    width: auto;
    flex-grow: 0.5;
    margin: 1% 0%;
    width: 100%;
    font-family: var(--main-font-family);
}

.section_title h1 {
    width: 100%;
    margin: 0%;
    text-align: center;
    align-self: center;
    font-weight: 400;
    font-size: 7vw;
    line-height: 2;
}

.section_title h2 {
    font-weight: 400;
    font-size: 2em;
    line-height: 2;
    text-align: left;
    width: 100%;
    color: #444444;
}

.section_text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    flex-grow: 1;
    margin: 1% 0.25%;
    font-family: var(--main-font-family);
}

.section_text p {
    margin: 0.5%;
    line-height: 3;
    font-size: 1em;
    text-align: left;
    font-weight: 300;
    color: #444444;
}

.section_title-alt {
    display: flex;
    align-items: center;
    width: auto;
    flex-grow: 0.5;
    margin: 0.25% 0%;
    font-family: var(--main-font-family);
    max-width: 90%;
    width: 100%;
}

.section_title-alt h2 {
    font-weight: 500;
    font-size: 3.5em;
    line-height: 2;
    text-align: left;
    margin: 1.5% 0%;

}

.section_text-alt {
    max-width: 90%;
    width: 100%;
    align-self: center;
    flex-grow: 1;
}

.section_text-alt p {
    line-height: 3;
    font-size: 1.25em;
    font-weight: 300;
    text-align: left;
    margin: 1.5% 0%;
}

.section_text ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    /* */
    margin: 0.5%;
    max-width: 80%;
}

.section_text ul li {
    width: 100%;
    max-width: 98%;
    margin: 0.5%;
    line-height: 2.5;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    list-style-position: inside;
}

.text-med p {
    font-size: 1.5em;
}

.text-lg p {
    font-size: 1.5em;
    font-weight: 300;
}

.text-left, .text-left p, .text-left h2 {
    text-align: left;
}

.text-right {
    text-align: right;
}

.title-light, .title-light h2 {
    color: #f9f9f9;
}

.title-main, .title-main h2 {
    color: #333;
}

.text-main {
    color: #565656;
}

.text-light, .text-light p {
    color: #f9f9f9;
}


.text-mobile {
    color: #f9f9f9;
    font-size: 2em;
    font-weight: 400;
}

.text-standard {
    color: #565656;
    font-size: 3em;
    font-weight: 300;
}

/* --- --- --- --- ---
-- Container Block
--- --- --- --- --- */
.subscribe_input {
    width: 100%;

}

.subscribe_input input {
    height: 50px;
    flex-grow: 1;
    margin: 0.5%;
    padding: 0.5%;
    padding-left: 0.75%;
    border-radius: 5px;
    cursor: pointer;
    color: #222222;
    background-color: none;
    font-size: 0.9em;
    font-weight: 300;
    border: 0.5px solid #989898;
}

.subscribeBtn {
    height: 50px;
    max-width: 25%;
    margin: 0.5%;
    cursor: pointer;
    border: none;
    font-size: 1em;
    font-weight: 300;
    background-color: #718ab4d5;
    color: #fff;
}

.border_dec--bottom {
    border-bottom: 0.25px solid #333;
}

.card_lg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
    margin: 1% 0%;
}

.card_text-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    font-family: 'Open sans';
}

.card_text-lg {
    font-family: 'Open sans';
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    line-height: 3;
}

.card_title-lg h2 {
    font-family: 'Open sans';
    font-size: 3em;
    font-weight: 300;
    text-align: left;
    line-height: 3;
}

.text-center {
    text-align: center;
}

.card_md {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    width: auto;
    margin: 1% 0%;
}

.flex_col-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 98%;
}

.flex_col-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 98%;
    margin: 2.5% 0%;
}

.flex_col-img img {
    max-width: 90%;
}

#faQuote {
    width: 100%;
    text-align: left;
    font-size: 2em;
    color: #fff;
}

.card__metrics {
    height: 100%;
    color: #333;
    width: auto;
    align-self: center;
    position: relative;
}

.metric_num {
    font-size: 2em;
    font-weight: 300;
    color: #b79648;
}

.section_3-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    align-self: center;
    /**/
    height: fit-content;
    width: 100%;
    max-width: 98%;
    /**/
    margin: 0%;
    margin-top: 2.5%;
    /**/
}

.card__metrics_test {
    /*       width: 100%;
    max-width: 32.5%;
    align-self: center;
    padding-right: 1%;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    /**/
    width: 100%;
    min-height: none;

    flex-basis: 100%;
    min-height: 225px;
    margin: 1%;
    /**/
    position: relative;
    z-index: 999999;
    /*        background: inherit;*/
    background: #333;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.card__metrics_test p {
    font-size: 0.75em;
    line-height: 2;
    font-weight: 300;
    margin: 0.25%;
    text-align: left;
    align-self: center;
    flex-grow: 2;
    padding-left: 0%;
    color: #fff;
    margin-left: 5%;
}

.metric_num_test {
    /*
    font-size: 6em;
    left: 15%;
    bottom: 40%;
    max-width: 80%;
    font-weight: 300;
    */
    margin-left: 7.5%;
    align-self: center;
    flex-grow: 0;
    /**/
    position: unset;
    z-index: 5000;
    /**/
    /**/
    width: 100%;
    max-width: 95%;
    padding: 0%;
    text-align: left;
    /**/
    font-weight: 400;
    /**/
    font-size: 2em;
    color: #fff;
    /**/
}



.text-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    max-width: fit-content;
    margin: 0.25%;

    /*     margin-top: 1%;
    position: absolute;
        right: 0%;*/
}

.card_text, .card_text-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    max-width: fit-content;
    margin: 0.25%;

    /*     margin-top: 1%;
    position: absolute;
        right: 0%;*/
}

.card_text p {
    text-align: center;
    line-height: 1.5;
    font-size: 0.9em;
    width: 100%;
    font-weight: 400;
    font-family: 'Open sans';
}

.card_text-sm p {
    text-align: left;
    line-height: 2;
    font-size: 1em;
    width: 100%;
    max-width: 99%;
    font-weight: 300;
    font-family: 'Open sans';
}

.card_img {
    margin: 0.25%;
    max-width: fit-content;
}

.card_img img {
    height: auto;
}

.cta_button a {
    background-color: transparent;
    font-family: 'Open sans';
    font-size: 1em;
    font-weight: 400;
}

.viewFleetButton {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 50px;
    width: 80%;
    margin: 1.5% 0.5%;
    border: 0.25px solid #fff;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
    color: #fafafa;
}

.content_img {
    flex-grow: 1;

    max-width: 45%;
}

.content_img img {
    max-width: 80%;
}



.banner__bg--dark {
    background-color: #233c5a;
    min-height: 270px;
    height: auto;
    background-color: #1e1d1d;
}


.darkened_bg {
    color: #fff;
    background-color: #6a6a6abe;
    max-height: 98%;

}

.bg-dark {
    background-color: #282727;
}

/* ------ ------ ------ 

banners
------ ------ ------ ------ */
.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: auto;
    width: 100%;
    margin: 0.5%;
}

.banner__text h3 {
    text-align: left;
    width: 100%;
    font-size: 2.5em;
    font-weight: 400;
    line-height: 2;
    color: #fff;
}

.banner__text p {
    text-align: left;
    font-size: 1.25em;
    font-weight: 300;
    max-width: 98%;
    line-height: 3;
    color: #fff;
}


.cta_banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin: 1%;
}

.cta__button {
    width: 100%;
    max-width: 45%;
    height: 50px;
    font-size: 1em;
    font-weight: 200;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #6777c6;
    color: #fff;
    padding: 1%;
    text-wrap: wrap;
    align-self: flex-start;
    margin: 1% 1%;
}

.button--solid {
    background: #2c72b7;
    color: #fff;
    cursor: pointer;
}

.button--orange {
    background-color: #FFAA33;
    color: #fff;
    font-family: "Open sans";
    cursor: pointer;
    font-weight: 400;
    width: 100%;
    max-width: 60%;
    height: 50px;
    border: none;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    align-self: center;
}

.cta_buttons-getStarted {
    width: 100%;
    max-width: 80%;
    height: 50px;
    font-size: 1em;
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #67c67f;
    background-color: #4285F4;
    color: #fff;
    padding: 1%;
    margin: 0.5%;
    align-self: center;
}

.button--transparent {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

/*

.subscribe_input {
    height: 50px;
    width: 100%;
    max-width: 40%;
    margin: 0.5%;
    padding: 0.5%;
    padding-left: 0.75%;
    border: 1px solid #333;
    border-radius: 5px;
    cursor: pointer;
    color: #222222;
    background-color: none;
    font-size: 0.9em;
    font-weight: 300;
}

.subscribeBtn {
    height: 50px;
    width: 100%;
    max-width: 20%;
    margin: 0.5%;
    cursor: pointer;
    border: none;
    font-size: 1em;
    font-weight: 300;
    color: #fff;
}
*/

.flex_col ol {}

.num_list {
    height: 75vh;
    /*   background-color: #444e5e9e;*/
}

.num_list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75vh;
    margin: 2% 0%;
    margin-bottom: 3%;
    position: unset;
    z-index: 99999999;
    background-color: #b8b8b800;
    text-wrap: wrap;


}

.num_list li {
    list-style-position: inside;
    text-align: left;
    list-style: none;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 2.5;
    margin: 1.5% 0.5%;
    font-size: 1.25em;
    font-weight: 300;
    text-wrap: wrap;
    color: #333;
}

.li_title {
    font-weight: 500;
    width: 100%;
    color: #333;
}

.num_icon {
    align-self: center;
    font-size: 0.8rem;
    border-radius: 30rem;
    background-color: #6777c6;
    color: #fff;
    padding: 0.5rem;
    width: 0.75rem;
    text-align: center;
    box-shadow: -0.25px 1px 3px 0.5px rgba(157, 157, 157, 0.2);
}





.section_img-001 {
    width: auto;
    height: auto;
    position: unset;
    z-index: 4000;
    left: 22.5%;
    width: 100%;
    top: 50%;
    padding: 1%;
    max-width: 45%;
    visibility: visible;
    margin: 5%;

}



.section_2-img {
    position: absolute;
    z-index: 5000;
    max-width: 45%;
    flex-grow: 1;
    top: 45%;
    left: 0%;
    margin: 0%;
    width: 100%;
    margin-right: 2.5%;
    max-width: 90%;
}

.section_2-img img {
    mask-image: radial-gradient(circle, black, black 35%, transparent 95%);
    max-width: 50%;

}


.section_3-img {
    position: absolute;
    z-index: 5000;
    flex-grow: 1;
    top: 60%;
    left: 0%;
    margin: 0%;
    width: 100%;
    max-width: 98%;
}

.section_3-img img {
    mask-image: radial-gradient(circle, black, black 35%, transparent 95%);
    max-width: 60%;

}


/* --- --- --- --- ---
-- Container Block
--- --- --- --- --- */


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: hsl(220, 100%, 99%);
    background-color: #f6f6f6;
}

.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 99%;
    min-height: fit-content;
    margin: 0.5% 0%;
}

.section__layout-sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 50vh;
    margin: 0.5% 0%;
}

.section__layout-md {
    display: block;
    width: 100%;
    min-height: 80vh;
    margin: 5% 0%;
    position: relative;
    z-index: 999999;
    /*     border: 0.5px solid blue;*/
}

.section__layout-lg {
    display: block;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin: 5% 0%;
    position: relative;
    z-index: 999999;
    /*    border: 0.5px solid red;*/
}

#section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    position: relative;
    /*     width: 100%;
    max-width: 98%;
    border: 0.5px solid green;*/
}

.section_content {
    flex-grow: 1;
    align-self: center;
    width: 100%;
    height: auto;

}

.section_2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99999;
    height: auto;
    flex-grow: 1;
    align-self: center;
    /*   width: 100%;
    max-width: 98%;
         */
}

.section_3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99999;
    height: 100%;
    align-self: center;
    flex-grow: 1;
    /*   width: 100%;
    max-width: 98%;
         */
}

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
}

.flex_col {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    max-width: 98%;
}

.flex_col-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.flex_row {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    max-width: 99%;
}

.flex_row-container {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    max-width: 100%;
}

.flex_col-rev {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    width: 100%;
    max-width: 99%;
}

.flex_row-rev {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    width: 100%;
}

.content_center {
    justify-content: center;
}

.item_center {
    align-items: center;
}

.content_start {
    justify-content: flex-start;
}

.items_start {
    align-items: flex-start;
}

.content_end {
    justify-content: flex-end;
}

.items_end {
    align-items: flex-end;
}

.content_around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content__even {
    justify-content: space-evenly;
}

/* height + width */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    height: 10vh;
}

.h_75vh {
    height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h_50vh {
    height: 50vh;
}

.h_60vh {
    height: 60vh;
}

.h_100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt2 {
    margin: 2% 0%;
}

.mbt5 {
    margin: 5% 0.5%;
}

.flex-1 {
    flex-grow: 1;
}

.flex-05 {
    flex-grow: 0.5;
}

.flex-0 {
    flex-grow: 0;
}

.flex-2 {
    flex-grow: 2;
}

/* - 

- */

#programs {
    position: relative;
    z-index: 5000;
}

@media only screen and (min-width: 740px) {

    .header_content-new {
        width: 100%;
        max-width: 99.99%;
        margin: 0%;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        height: 10%;
        margin: 0%;
        /*
            position: fixed;
        z-index: 999999;
        top: 0%;
        */

    }

    .hero_title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: auto;
        flex-basis: 75%;
        width: 100%;
        max-width: 98%;
        font-family: var(--main-font-family);
    }

    .hero_content {
        margin-top: 5%;
        width: 100%;

    }

    .hero_title h1 {
        margin: 0%;
        text-align: left;
        align-self: flex-start;
        font-weight: 500;
        font-size: 3.5em;
        line-height: 3;
        color: #fff;
        margin: 0.5%;
        flex-grow: 0;

    }

    .hero_text {
        margin: 0%;
        text-align: left;
        align-self: flex-start;
        font-weight: 300;
        font-size: 1.75em;
        line-height: 3;
        color: #fff;
        flex-grow: 0;
        margin: 0.5% 1%;


    }

    .banner__text h3,
    .banner__text p {
        text-align: center;
    }


    .cta_banner {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        margin: 1%;
    }

    .cta__buttons {
        display: flex;
        flex-direction: row;
        flex-grow: 0.5;
        align-self: flex-start;
        justify-content: flex-start;
        border: 0.5px solid #fff;
    }

    .cta_buttons-getStarted {
        width: 100%;
        max-width: 45%;
        align-self: flex-start;
    }

    .flex_container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
    }




    /* --- 

    --*/
    #section_2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: auto;
        margin: 0%;
        position: relative;
        /*     border: 0.5px solid blue;*/
    }

    .section_2-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        align-self: center;
        position: relative;
        z-index: 99999;
        top: 0%;
        width: auto;
        margin-left: 0%;
        /*   width: 100%;
        max-width: 98%;
            border: 0.5px solid blue;        */

    }


    .section_2-img {
        position: absolute;
        z-index: 5000;
        max-width: 45%;
        flex-grow: 1;
        top: 40%;
        left: 0%;
        margin: 0%;
        width: 100%;
        margin-right: 2.5%;
        max-width: 90%;
        border-radius: 12px;
    }

    .section_2-img img {
        mask-image: radial-gradient(circle, black, black 35%, transparent 95%);
        max-width: 30%;
        width: auto;
    }

    .section_3-img {
        position: absolute;
        z-index: 5000;
        flex-grow: 1;
        top: 60%;
        left: 0%;
        margin: 0%;
        width: 100%;
        max-width: 98%;
    }
    .section_3-img img {
        max-width: 45%;
    }
    /* */
    .section_3-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 99999;
        width: auto;
        width: 100%;
        top: 0%;
        align-self: center;
        margin-left: 0%;
        /*   width: 100%;
        max-width: 98%;
             */
    }

    .section_3-content p {
        width: 100%;
    }

    .section_3-row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        align-self: center;
        /**/
        height: fit-content;
        width: 100%;
        max-width: 98%;
        /**/
        margin: 0%;
        margin-top: 2.5%;
        /**/
    }

    .card__metrics_test {
        /*       width: 100%;
        max-width: 32.5%;

        align-self: center;
        padding-right: 1%;*/

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: center;
        /**/
        width: 100%;
        min-height: 35vh;
        margin: 1%;
        /**/
        position: relative;
        z-index: 999999;
        /*        background: inherit;*/
        background: #333;

        backdrop-filter: blur(10px);
    }

    .card__metrics_test p {
        font-size: 1.5em;
        line-height: 2;
        font-weight: 300;
        margin: 0.25%;
        text-align: right;
        max-width: 90%;
        width: 100%;
        align-self: center;
        margin-top: 2.5%;
        padding: 0%;
        color: #fff;
    }

    .metric_num_test {
        /*
        font-size: 6em;
        left: 15%;
        bottom: 40%;
        max-width: 80%;
        font-weight: 300;
        */
        display: inline-block;
        /**/
        position: absolute;
        top: 5%;
        left: 5%;
        z-index: 5000;
        /**/
        /**/
        width: 100%;
        max-width: 50%;
        padding: 2%;
        text-align: center;
        /**/

        font-weight: 400;
        /**/
        font-size: 3.5em;
        color: #fff;
        /**/
    }

    /* ---
    ---*/
    .num_list {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-grow: 1;
        max-width: 50%;
        height: auto;
        margin: 2% 0%;
        margin-bottom: 3%;
        position: relative;
        margin-left: 1%;
        height: 75vh;
        z-index: 9999999;
        background-color: transparent;
    }

    .num_list {
        background-color: none;
    }

    .section_img-001 {
        width: auto;
        height: auto;
        position: unset;
        z-index: 5000;
        left: 57.5%;
        width: 100%;
        top: 35%;
        padding: 1%;
        max-width: 25%;
        visibility: visible;
        margin: 5%;
    }

    .flex_col {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: 100%;
    }

    .card_md {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
        width: auto;
        margin: 1% 0%;
        width: 100%;
        max-width: 33%;
    }

    .section_title {
        align-self: center;
        flex-grow: 0.5;
        /*     border: 0.5px dashed red;*/
    }

    .section_title h2 {
        font-weight: 500;
        font-size: 3.5em;
        line-height: 2;
        text-align: left;
        margin: 1.5% 0%;
        width: 100%;
    }

    .section_text {
        flex-grow: 1;
        align-self: center;
    }

    .section_text p {
        line-height: 3;
        font-size: 1.5em;
        font-weight: 300;
        text-align: left;
        margin: 1.5% 0%;
    }

    .section_title-alt {
        display: flex;
        align-items: center;
        align-self: center;
        width: auto;
        flex-grow: 0.5;
        margin: 0.25% 0%;
        font-family: var(--main-font-family);
        width: 100%;
        max-width: 92.5%;
    }

    .section_title-alt h2 {
        font-weight: 500;
        font-size: 4em;
        line-height: 2;
        text-align: left;
        margin: 1.5% 0%;
    }

    .section_text-alt {
        max-width: 90%;
        width: 100%;
        align-self: center;
        flex-grow: 1;
    }

    .section_text-alt p {
        line-height: 3;
        font-size: 1.5em;
        font-weight: 300;
        text-align: left;
        margin: 1.5% 0%;
    }

    .flex_col-img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 100%;
        max-width: 50%;
    }

    .flex_col-img img {
        max-width: 75%;
    }

    .flex_col-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        max-width: 98%;
    }
}