@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: hsl(220, 100%, 99%);
    background-color: #f6f6f6;
}



/* ----------------
header, footer
---------------- */
.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 1% 0%;
    min-height: 100vh;
}


.section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98%;
    height: auto;
    flex-grow: 1;
    font-family: 'Open sans';
}

.section__content--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
    height: fit-content;
}

/* - -*/
.col__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 50%;
    margin: 0.5%;
}

.col__img img {
    width: auto;
    max-width: 100%;
}

.img--sm img {
    width: 45%;
}

.img--md img {
    width: 60%;
}


/* -- lists --  */
.ul__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 90%;
    font-family: 'Open sans';
}

.ul__col ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5% 1.5%;
}

.ul__col ul li {
    list-style: none;
    list-style-position: inside;
    width: auto;
    text-align: left;
    line-height: 2;
    font-size: 3vw;
    font-weight: 300;
}

/* ----------------
header, footer
---------------- */
.content__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 99%;
    flex-grow: 1;
    margin: 0.5%;
}

.section__content--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 99%;
    flex-grow: 1;
    margin: 0.5%;
}

.col--rev {
    flex-direction: column-reverse;
}

.content__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0.5%;
    flex-grow: 1;
}

.row--reverse {
    flex-direction: row-reverse;
}

.content__col--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    max-width: 98%;
    flex-grow: 1;
}

.content__col--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: auto;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.items_end {
    align-items: flex-end;
}

.items_start {
    align-items: flex-start;
}

.content_start {
    justify-content: flex-start;
}

.content__around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content_center {
    justify-content: center;
}

.content__even {
    justify-content: space-evenly;
}

/* height + width */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    height: 10vh;
}

.h__md {
    height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h__60 {
    height: 60vh;
}

.h100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt5 {
    margin: 5% 0.5%;
}


/* ----------------
header, footer
---------------- */
.title__row--med {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

.title__row--med h3 {
    text-align: left;
    font-size: 1vw;
    flex-grow: 1;
}

.section__title--med {
    display: flex;
    align-items: center;
    height: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 98%;
}

.section__title--med h2 {
    font-family: 'Open sans';
    font-size: 8vw;
    font-weight: 500;
    width: auto;
    text-align: left;
    color: #3a3535;
}

.section__title--test {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1% 0%;
    font-family: 'Open sans';
    width: 100%;
    height: auto;
}

.section__title--test h2 {
    font-size: 5vw;
    margin: 0.5%;
    flex-grow: 1;
    color: #3a3535;
}

.section__text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin: 5% 0%;
    justify-content: center;
    align-items: center;
    font-family: 'Open sans';
}

.section__text p {
    font-size: 3vw;
    width: 100%;
    max-width: 90%;
    line-height: 2.5;
    margin: 0.5%;
    font-weight: 300;
}

.text__main--sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.text__main--sm p {
    font-size: 1.25em;
    width: 100%;
    text-align: left;
    line-height: 2;
}

.banner__text {
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: auto;
    width: 100%;
    margin: 0.5%;
}

.banner__text p {
    text-align: center;
    width: 100%;
    font-family: 'Open sans';
    color: #fff;
}

/* ----------------
header, footer
---------------- */
.card__sm {
    height: 270px;
    margin: 0.5% 1%;
    border: 0.5px solid #333;
    color: #333;
    font-family: 'Open sans';
    width: 100%;
    max-width: 98%;
    border: 0.5px solid #333;
}


.card__md {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    margin: 0.5%;
    width: 98%;
    color: #333;
    font-family: 'Open sans';
    border-left: 0.5px solid #333;
}

.card__lg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    color: #333;
    font-family: 'Open sans';
    margin: 2.5% 0.5%;
}

.card__title--md {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 95%;
    flex-grow: 1;
    margin: 0.5%;
    margin-bottom: 1.5%;
}

.card__title--md h2 {
    font-size: 3em;
    width: 100%;
    border-bottom: 0.5px solid #333;
    max-width: 80%;
    text-align: left;
    font-weight: 400;
    font-family: 'Open sans';


}

/* */
.card__text--md {
    font-size: 1.25em;
    text-align: left;
    line-height: 2;
    font-weight: 300;
    width: 100%;
    font-family: 'Open sans';
    margin: 0.5%;
    max-width: 90%;
    text-wrap: wrap;
}

.card__text--sm {
    font-size: 2vw;
    max-width: 98%;
    line-height: 2;
    margin: 0.5%;
    width: 100%;
    font-family: 'Open sans';
}

.img--col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    margin: 0%;
}

.card__img--md img {
    width: 98%;
}


/* -- 
review 
------ */
.review__content,
.fleet__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: 1% 0.5%;
    height: 100%;
    flex-grow: 2;
}

.review__item {
    height: auto;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open sans';
}

.review__item p {
    width: auto;
    line-height: 3;
    font-weight: 300;
    font-size: 2vw;
    max-width: 90%;
    text-align: center;

}

/* -----------------------

home content

------------------------ */
header {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: 180px;
    background-color: #f6f6f6;
}


.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
    height: 100%;
    font-family: "Open sans", serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-grow: 2;
    height: auto;
    max-width: 99%;
    margin: 0.5%;
}

.nav-link,
.nav-link a {
    color: #262020;
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    flex-grow: 1;
}

.header__logo h1 {
    color: #353535;
    font-weight: 400;
    font-size: 3em;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin: 0.5%;
}

#headerLogo {
    height: 100px;
    width: auto;
}

.nav-link:hover {
    color: #262020;
}



/* - Footer Block */


.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 100%;
    height: auto;
    min-height: 150px;
    margin: 0;
    background-color: #f9f9f9;
    background-color: #333;
    font-family: "Open Sans", serif;
}

.footer__section--logo {
    width: auto;
    max-width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
}

.footer__section--logo img {
    max-width: 99%;
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    height: auto;
    width: 100%;
    color: #262020;
    color: #fff;
}

.footer__text {
    flex-grow: 1;
}

.footer__location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    flex-grow: 1;
    width: 100%;
}


.location__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    height: auto;
}

.location__info p {
    font-size: 1vw;
    line-height: 2;
    margin: 0.5% 2.5%;
}

.location__info ul {
    list-style: none;
    flex-grow: 1;
}

.location__info ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    list-style-position: inside;
    flex-grow: 1;
    margin: 0.5%;
    font-size: 1vw;
    line-height: 2;
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-grow: 1;
    height: 100%;
    max-width: 30%;
}

.footer__social h3 {
    text-align: left;
    font-size: 1em;
    flex-grow: 1;
    max-width: 80%;
}

.footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
}

.footer__social ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-position: inside;
    flex-grow: 1;
    margin: 0.5%;
}

#socialIcon {
    width: 30px;
    height: 30px;
}

/* -----------------------

home content

------------------------ */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    width: 100%;
    background-color: #8d8d8d6e;
    background-image: url('https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    text-align: left;
    color: #302a27;
}

.home__content h1 {
    width: 100%;
    text-align: left;
    max-width: 99%;
    font-size: 3.5em;
    font-weight: 600;
    font-family: "Open sans";
}

.home__content p {
    width: auto;
    margin: 0.5%;
    max-width: 98%;
    text-align: center;
    line-height: 2.5;
    font-size: 4vw;
    font-weight: 400;
    font-family: "Open sans";
}

/* -----------------------
--- Subscribe 
------------------------ */
.banner__bg--dark {
    background-color: #233c5a;
    min-height: 270px;
    height: auto;
}

.subscribe__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98%;
    height: auto;
    flex-grow: 1;
    backdrop-filter: blur(3px);
    margin: 0.5%;
    font-family: "Open sans";
    border-top: 0.5px solid #333;
}

.subscribe__title {
    flex-grow: 0.5;
    font-size: 3.75em;
    font-weight: 400;
    align-self: center;
    text-align: center;
    color: #565656;
}

.subscribe__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 99%;
    min-width: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px rgba(38, 38, 38, 0.2);
}

.subscribe__input input {
    height: 5em;
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
    padding: 0.5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #222222;
    background-color: none;
    font-size: 1em;
    font-weight: 400;
}

.subscribeBtn {
    height: 3.5em;
    width: 100%;
    max-width: 35%;
    margin: 0.5%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    font-weight: 400;
    background-color: #99c578;
    color: #fff;
}

.seasonal__bg {
    background-image: url("https://images.unsplash.com/photo-1575251059737-36bebdc7b933?q=80&w=1624&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}

.border_dec--bottom {
    border-bottom: 0.25px solid #333;
}

/* -----------------------

buttons, links

------------------------ */
.cta__buttons {
    display: flex;
    justify-content: space-around;
    width: auto;
    flex-grow: 1;
    width: 100%;
}

.cta__button {
    width: 50%;
    max-height: 3em;
    font-size: 1em;
    max-width: 45%;
    font-weight: 200;
    font-family: "Open sans";
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #6777c6;
    color: #fff;
    margin: 0.5% 0%;
    padding: 1%;
    text-wrap: wrap;
}

.view__button {
    height: 3em;
    width: auto;
    border: none;
    font-size: 1em;
    font-weight: 300;
    margin: 0.5%;
    cursor: pointer;
    border-radius: 5px;
}

.button--solid--blue,
.view__button {
    background: #2c72b7;
    color: #fff;
}

.button--solid {
    background: #2c72b7;
    color: #fff;
}

.button--transparent {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.button--orange {
    background-color: #d69e55;
    color: #fff;
}

.banner__row--md {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vh;
}


/* -----
about
---- */

#about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
}

.about-title {
    width: 100%;
    margin: 0%;
}

.about-title h2 {
    font-size: 10vw;
    margin: 1% 0.5%;
    width: auto;
    max-width: 98%;
    text-align: left;
    font-weight: 300;
    color: #262020;
    font-family: "Nixie One", system-ui;
}

.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    max-width: 98%;
    height: auto;
    margin-bottom: 5%;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.about-content p {
    width: 100%;
    margin: 1% 0.5%;
    max-width: 90%;
    text-align: left;
    color: #262020;
    font-family: 'Figtree';
    font-size: 2em;
    font-weight: 200;
    line-height: 3;
}



/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */


@media only screen and (min-width: 800px) {

    .section__layout {
        justify-content: space-evenly;
        min-height: 80vh;
    }

    .section__content--flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 99%;
        flex-grow: 1;
        margin: 0.5%;
    }

    .section__content {
        flex-grow: 2;
    }

    .section__title--test {
        font-family: 'Open sans';
        width: 98%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.5%;
        flex-grow: 0.5;
    }

    .section__title--test h2 {
        font-size: 8vw;
        text-wrap: wrap;
        font-weight: 400;
    }

    .section__title--med h2 {
        font-size: 6vw;
    }

    .section__text {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        max-width: 98%;
        height: 100%;
        margin: 1%;
        justify-content: center;
        align-items: center;
        font-family: 'Open sans';
    }

    .section__text p {
        font-size: 2vw;
        max-width: 99%;
        line-height: 2.5;
        margin: 0.5%;
        font-weight: 300;
    }

    .col__img img {
        width: auto;
        max-width: 90%;
    }

    /* -- lists --  */
    .ul__col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        flex-grow: 1;
        width: 100%;
    }

    .ul__col ul {
        width: 100%;
        justify-content: space-evenly;
        align-items: flex-start;
        max-width: 98%;
    }

    .ul__col ul li {
        font-size: 1.5vw;
    }


    .card__md {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        margin: 0.5%;
    }

    .card__lg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: auto;
        width: 100%;
        max-width: 98%;
    }

    .card__text--md {
        width: 100%;
        line-height: 2.5;
    }

    .card__text--md p {
        font-size: 1em;
        font-weight: 300;
        margin: 0% 1.5%;
    }

    .card__title--md {
        font-size: 1.25vw;
    }

    .section__content--flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
        flex-grow: 2;
        max-width: 90%;

    }

    /* */
    .subscribe__content {
        height: auto;
        width: 55%;
        text-align: center;
        margin: 0.5%;
        height: auto;
        flex-grow: 1;
    }

    .review__content,
    .fleet__content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: auto;
        margin: 1% 0.5%;
        height: 100%;
        flex-grow: 2;
    }

    .review__item {
        flex-grow: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1% 0%;
    }

    .review__item p {
        width: auto;
        line-height: 3;
        font-size: 1.75vw;
        max-width: 75%;
        text-align: center;

    }

    .card__text--sm {
        font-size: 1vw;
        max-width: 98%;
        line-height: 2;
        margin: 0.5%;
        width: 100%;
        font-family: 'Open sans';
    }

    header {
        min-height: 120px;
        height: 150px;
    }

    .header__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        flex-grow: 1;
        height: 100%;
        max-height: 80%;
        margin: 0.5%;
    }

    .nav-link,
    .nav-link a {
        color: #262020;
        font-size: 1em;
        font-weight: 400;
        text-align: right;
    }

    #headerLogo {
        width: 50%;
        height: 50%;
    }

    .container {
        max-width: 100%;
        margin: 0 auto;
    }

    #home {
        height: 100vh;
    }

    .cta__buttons {
        width: 100%;
        max-width: 60%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 0.5%;
    }

    .cta__button {
        height: 4em;
        width: 50%;
        margin: 0% 1%;
    }

    .home__content {
        max-width: 70%;
        justify-content: center;
        align-items: center;
        align-self: center;
        flex-grow: 1;
    }

    .home__content h1 {
        max-width: 99%;
        font-size: 3.5em;
        font-weight: 500;
    }

    .home__content p {
        max-width: 99%;
        line-height: 3;
        font-size: 1.5em;
        font-weight: 300;
    }

}