@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}


/* ------ ------ ------ 

\ sections

------ ------ ------ ------ */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    background-color: hsl(220, 100%, 99%);
    background-color: #f6f6f6;
}

.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
    height: fit-content;
    min-height: 100vh;
    height: auto;
    background-color: #f2f3f4;
    margin: 0.5% 0%;
}

.section__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 98%;
    height: auto;
    flex-grow: 1;
    font-family: 'Open sans';
}

/* -- -- -- 
-- -- -- -- -- */
.col__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: auto;
    max-width: 35%;
    position: absolute;
    z-index: 3000;
}

.col__img img {
    max-width: 75%;
}

.img--sm {
    width: 100%;
    max-width: 98%;
    align-self: center;
}

.img--md img {
    width: 60%;
}

.img--col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    margin: 0%;
}

.card__img--md img {
    width: 98%;
}

/* ------ ------ ------ 

\ title, text,
------ ------ ------ ------ */
.title__row--med {
    width: 100%;
    font-family: 'Open sans';
    color: #333;
    position: absolute;
    bottom: 50%;
    flex-grow: 1;
}

.title__row-2 {
    width: 100%;
    font-family: 'Open sans';
    color: #333;
    display: flex;
    align-items: center;
    flex-grow: 1;
    /*     position: absolute;
    top: 25%;
    flex-grow: 1;*/
}

.title__col--med {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    flex-grow: 1;
    font-family: 'Open sans';
    color: #333;
    text-align: left;
}

.section__title--test {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0%;
    font-family: 'Open sans';
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.section__title--test h2 {
    font-size: 3em;
    margin: 0.5%;
    flex-grow: 1;
    font-weight: 400;
    color: #565656;
}

/* */
.section__text {
    font-family: 'Open sans';
    color: #333;
    line-height: 2;
    width: 100%;
    text-align: left;
    /*        flex-grow: 1;
 position: absolute;
    top: 60%;*/
}

.section__text p {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.5%;
    width: 100;
    line-height: 2.5;
}

.text__main--sm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.text__main--sm p {
    font-size: 1.25em;
    width: 100%;
    text-align: left;
    line-height: 2;
}



/* ------ ------ ------ 

lists

------ ------ ------ ------ */
/* --- --- ---
section 1 
-- -- -- -- */
#section_1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    position: relative;
    flex-basis: 100%;
    /*     min-height: 85vh;
    height: fit-content;*/
}

#section_1-title {
    font-size: 3.5em;
    line-height: 2;
    color: #565656;
    width: auto;
    text-align: left;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.section_1-img {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 3000;
    left: 0%;
    top: 60%;
}

.section_1-img img {
    width: 100%;
}



#section_1-content {
    position: absolute;
    top: 60%;
}

.section_1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    position: absolute;
    top: 35%;
    height: fit-content;
    min-height: 40%;
    background-color: #2c72b7ac;
}

.section_1-text p {
    font-size: 1.75em;
    font-weight: 300;
    line-height: 2.5;
    color: #fff;
    margin: 0.5%;
}

/* --- 
section 2
-- -- -- -- */
#section_2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    /*    height: fit-content;
    min-height: 100vh;*/
    flex-basis: 100%;
}

#section_2-content {}

#section_2-title {
    font-size: 4em;
    line-height: 2;
    color: #565656;
    width: 100%;
    margin-bottom: 1%;
    text-align: left;
    font-weight: 400;
    align-self: center;
}

.section_2-text {
    display: flex;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    font-family: 'Open sans';
    color: #333;
    line-height: 2;
    width: 100%;
    text-align: left;
}

.section_2-text p {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.5%;
    line-height: 3;
}

.section_2-row {
    width: 100%;
    max-width: 98%;
    align-self: center;
}

/* section 2 */
.section_2-img {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 3000;
    left: 5%;
    top: 35%;
    visibility: hidden;
}

.section_2-img img {
    width: 35%;
}



/* --- 
section 3
-- -- -- -- */
#section_3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 100%;
    position: relative;
    /*    height: fit-content;
    min-height: 100vh;*/
    flex-basis: 100%;
}

#section_3-content {}

#section_3-title {
    font-size: 4em;
    line-height: 2;
    color: #565656;
    width: 100%;
    margin-bottom: 1%;
    text-align: left;
    font-weight: 400;
}

.section_3-img {
    width: auto;
    height: auto;
    position: absolute;
    z-index: 3000;
    left: 5%;
    top: 35%;
    visibility: hidden;
}

.section_3-img img {
    width: 35%;
}

.section_3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-family: 'Open sans';
    color: #333;
}

.section_3-text p {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.5%;
    line-height: 2.5;
    text-align: left;
    width: 100%;
}

/* ------ ------ ------ 

lists

------ ------ ------ ------ */
.ul__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 90%;
    font-family: 'Open sans';
}

.ul__col ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0.5% 1.5%;
}

.ul__col ul li {
    list-style: none;
    list-style-position: inside;
    width: auto;
    text-align: left;
    line-height: 2;
    font-size: 3vw;
    font-weight: 300;
}

/* */

.ol__col {
    height: auto;
    margin: 2% 0%;
    margin-bottom: 3%;
    font-family: 'Open sans';
}

.ol__col ol {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
    flex-grow: 1;
}

.ol__col ol li {
    list-style-position: inside;
    text-align: left;
    list-style: none;
    font-size: 1.25em;
    font-weight: 300;
    line-height: 3;
    margin: 0% 1.5%;
}

.li_title {
    font-weight: 500;
    width: 100%;
}

.num_icon {
    align-self: center;
    font-size: 0.95rem;
    border-radius: 30rem;
    background-color: #6777c6;
    color: #fff;
    padding: 0.5rem;
    width: 1rem;
    text-align: center;
    box-shadow: -0.25px 1px 3px 0.5px rgba(157, 157, 157, 0.2);
}

/* ------ ------ ------ 

banners
------ ------ ------ ------ */
.banner__text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    height: auto;
    width: 100%;
    margin: 0.5%;
}

.banner__text h3 {
    text-align: center;
    width: 100%;
    font-size: 2em;
    font-weight: 400;
    font-family: 'Open sans';
    color: #fff;
}

.banner__text p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
    max-width: 98%;
    line-height: 3;
    font-family: 'Open sans';
    color: #fff;
}

.card__metrics {
    height: 270px;
    margin: 0.5% 1%;
    color: #333;
    font-family: 'Open sans';
    width: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.metric_num {
    font-size: 2em;
    font-weight: 500;
    color: #b79648;
}

.card__metrics p {
    font-size: 1em;
    line-height: 2;
    font-weight: 300;
    margin: 0.25%;
    color: #4c4c4c;
}

/* ------ ------ ------ 

cards

------ ------ ------ ------ */
.card__sm {
    height: 270px;
    margin: 0.5% 1%;
    border: 0.5px solid #333;
    color: #333;
    font-family: 'Open sans';
    width: 100%;
    max-width: 98%;
    border: 0.5px solid #333;
}

.card__md {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: fit-content;
    margin: 0.5%;
    width: 98%;
    color: #333;
    font-family: 'Open sans';
    /* border: 0.5px solid #333;*/
    box-shadow: 0px 2px 3px 0px rgba(38, 38, 38, 0.2);
}

.card__lg {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    color: #333;
    font-family: 'Open sans';
    margin: 2.5% 0.5%;
}

.card__title--md {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 95%;
    flex-grow: 1;
    margin: 0.5%;
    margin-bottom: 1.5%;
}

.card__title--md h2 {
    font-size: 3em;
    width: 100%;
    border-bottom: 0.5px solid #333;
    max-width: 80%;
    text-align: left;
    font-weight: 400;
    font-family: 'Open sans';
}

/* */
.card__text--md {
    font-size: 1.25em;
    text-align: left;
    line-height: 2;
    font-weight: 300;
    width: 100%;
    font-family: 'Open sans';
    margin: 0.5%;
    max-width: 90%;
    text-wrap: wrap;
}

.card__text--sm {
    font-size: 1.25em;
    max-width: 98%;
    line-height: 2;
    margin: 0.5%;
    width: 100%;
    font-family: 'Open sans';
}

.card__col--img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: auto;
}

.card__col--img img {
    width: auto;
    max-width: 90%;
    border-radius: 10px;
}


/* ------ ------ ------ 



------ ------ ------ ------ */
.review__content,
.fleet__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
    margin: 0%;
    height: fit-content;
    flex-basis: 100%;
}


/* -----------------------
--- banners 
------------------------ */
.banner__bg--dark {
    background-color: #233c5a;
    min-height: 270px;
    height: auto;
    background-color: #1e1d1d;
}

.darkened_bg {
    color: #fff;
    background-color: #6a6a6a87;
}

/* -----------------------
--- Subscribe 
------------------------ */
.subscribe__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-basis: 100%;
    min-height: 50vh;
    backdrop-filter: blur(3px);
    margin: 0.5%;
    font-family: "Open sans";
    ;
}

.subscribe__title {
    font-size: 3em;
    font-weight: 400;
    align-self: center;
    text-align: center;
    color: #565656;
    line-height: 2;
    width: auto;
}

.subscribe__input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 80%;
    min-width: 0;
    margin: 0;
    margin-top: 5%;
    background-color: #fff;
    box-shadow: 0px 2px 3px 0px rgba(38, 38, 38, 0.2);
}

.subscribe__input input {
    height: 50px;
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
    padding: 0.5%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #222222;
    background-color: none;
    font-size: 1em;
    font-weight: 400;
}

.subscribeBtn {
    height: 50px;
    width: 100%;
    max-width: 35%;
    margin: 0.5%;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.25em;
    font-weight: 400;
    background-color: #99c578;
    background-color: #FFAA33;
    color: #fff;
}

.border_dec--bottom {
    border-bottom: 0.25px solid #333;
}

/* ------ ------ ------ 

lists

------ ------ ------ ------ */
header {
    width: 100%;
    margin: 0;
    max-width: 100%;
    height: 180px;
    background-color: #f6f6f6;
}


.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
    height: 100%;
    font-family: "Open sans", serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-grow: 2;
    height: auto;
    max-width: 98%;
    margin: 0%;
}

.nav-link,
.nav-link a {
    color: #262020;
    font-size: 1em;
    font-weight: 300;
    text-align: left;
    flex-grow: 1;
}

.header__logo h1 {
    color: #353535;
    font-weight: 400;
    font-size: 3em;
}

.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
    width: auto;
    height: auto;
    margin: 0%;
}

#headerLogo {
    height: 100px;
    width: auto;
}

.nav-link:hover {
    color: #262020;
}

/* --- --- --- --- ---
-- Footer Block
--- --- --- --- --- */
.footer__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    height: auto;
    min-height: 150px;
    margin: 0;
    flex-basis: 100%;
    height: 100%;
    background-color: #f9f9f9;
    background-color: #333;
    font-family: "Open Sans", serif;
}

.footer__section--logo {
    width: auto;
    max-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    height: auto;
    width: 100%;
    color: #262020;
    color: #fff;
}

.footer__text {
    flex-grow: 1;
}

.location__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    height: auto;
}

.location__info p {
    font-size: 1vw;
    line-height: 2;
    margin: 0.5% 2.5%;
}

.location__info ul {
    list-style: none;
    flex-grow: 1;
}

.location__info ul li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    list-style-position: inside;
    flex-grow: 1;
    margin: 0.5%;
    font-size: 1vw;
    line-height: 2;
}

.footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-grow: 1;
    height: 100%;
    max-width: 30%;
}

.footer__social h3 {
    text-align: left;
    font-size: 1em;
    flex-grow: 1;
    max-width: 80%;
}


.footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 90%;
}

.footer__social ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    list-style-position: inside;
    flex-grow: 1;
    margin: 0.5%;
}

.footer__section--logo img {
    max-width: 99%;
}

#socialIcon {
    width: 30px;
    height: 30px;
}

/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    width: 100%;
    background-color: #8d8d8d6e;
    background-image: url('https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    font-family: "Open sans";
}

.home__content h1 {
    width: 100%;
    font-size: 4em;
    font-weight: 600;
    line-height: 2;
    text-align: center;
    flex-grow: 1;
}

.home__content p {
    width: auto;
    margin: 0.5%;
    width: 100%;
    text-align: center;
    line-height: 3;
    font-size: 2em;
    flex-grow: 1;
    font-weight: 300;
}


/* -----------------------

buttons, links

------------------------ */
button {
    font-family: "Open sans";
    cursor: pointer;
}

.cta__buttons {
    display: flex;
    justify-content: space-around;
    width: auto;
    width: 100%;
}

.cta__button--banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    height: 50px;
    border-radius: 60px;
}

.cta__button--banner button,
.cta__button--banner a {
    width: 50%;
    max-height: 3em;
    font-size: 1.5em;
    max-width: 45%;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin: 0.5% 0%;
    padding: 1%;
    font-family: "Open sans";
    text-wrap: wrap;
}

.cta__button {
    width: 200px;
    height: 50px;
    font-size: 1em;
    font-weight: 200;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #6777c6;
    color: #fff;
    margin: 0.5% 0%;
    padding: 1%;
    text-wrap: wrap;
}

.cta_buttons-getStarted {
    width: 100%;
    max-width: 75%;
    height: 50px;
    font-size: 1em;
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #67c67f;
    background-color: #4285F4;
    color: #fff;
    padding: 1%;
    margin: 0.5%;
    align-self: center;
}

.btn-arrow {
    color: #fff;
}

.view__button {
    height: 3em;
    width: 80%;
    border: none;
    font-size: 1.25em;
    font-weight: 400;
    border-radius: 50px;
    margin: 0.5% 0%;
    cursor: pointer;
}

.button--solid--blue,
.view__button {
    background: rgba(35, 60, 90, 0.999);
    color: #fff;
    cursor: pointer;
}

.button--solid {
    background: #2c72b7;
    color: #fff;
    cursor: pointer;
}

.button--transparent {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.button--orange {
    background-color: #d69e55;
    /*     background-color: #FF9900; */
    background-color: #FFAA33;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
}

.banner__row--md {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vh;
}


/* -----------------------

home content

------------------------ */
.content__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    width: 100%;
    flex-grow: 1;
    height: fit-content;
}

.content__row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

.content__col--left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 98%;
    height: 100%;
}

.content__col--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: auto;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.col--rev {
    flex-direction: column-reverse;
}

.row--rev {
    flex-direction: row-reverse;
}

.items_start {
    align-items: flex-start;
}

.item_center {
    align-items: center;
}

.items_end {
    align-items: flex-end;
}

.content_start {
    justify-content: flex-start;
}

.content_center {
    justify-content: center;
}

.content_end {
    justify-content: flex-end;
}

.content__around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content__even {
    justify-content: space-evenly;
    height: 100%;
}

/* height + width */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    height: 10vh;
}

.h__md {
    height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h__60 {
    height: 60vh;
}

.h100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt5 {
    margin: 5% 0.5%;
}

/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */
@media only screen and (min-width: 720px) {

    .container {
        max-width: 100%;
        margin: 0 auto;
    }


    /* */
    #home {
        height: 100vh;
    }

    .home__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .home__content h1 {
        width: 100%;
        max-width: 99%;
        font-size: 5em;
        font-weight: 600;
        line-height: 2;
        text-align: center;
        flex-grow: 1;
        font-family: "Open sans";
    }

    .home__content p {
        width: auto;
        margin: 0.5%;
        max-width: 98%;
        text-align: center;
        line-height: 2.5;
        font-size: 3em;
        font-weight: 300;
        flex-grow: 1;
        font-family: "Open sans";
    }

    /* -- -- -- 
    -- -- -- -- -- */
    .section__content--flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: auto;
        flex-grow: 1;
        margin: 0.5%;
        min-height: 75vh;
    }

    .section__content {
        flex-grow: 2;
    }

    .content__col--flex {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        min-height: 100vh;
        height: fit-content;
        width: 100%;
        position: relative;
        height: 85vh;
    }

    /* -- -- -- 
    -- -- -- -- -- */
    #section_1 {}

    #section__title-1 {
        font-size: 3em;
    }

    #section__title-2 {
        font-size: 5em;
    }

    .section__text p {
        font-style: 1.5em;
    }

    /* -
- */
    .title__row-2 {
        flex-grow: 0.5;
    }
    .title__col--med {
        flex-grow: 0.5;
    }
    #section_2-title,
    .section_3-title {
        font-size: 6em;

    }



    /* */


    header {
        min-height: 120px;
        height: 150px;
    }

    .header__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        max-height: 80%;
        margin: 0.5%;
        max-width: 60%;
    }

    .nav-link,
    .nav-link a {
        color: #262020;
        font-size: 1em;
        font-weight: 400;
        text-align: right;
    }

    #headerLogo {
        width: auto;
        height: 180px;
    }



}





/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */
@media only screen and (min-width: 920px) {}




/* ------ ------ ------ 

breakpoints 

------ ------ ------ ------ */
@media only screen and (min-width: 1200) {}