@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    /* 
    position: relative;
    top: 5%;*/

}


/* -- lists --  */
.ul__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    flex-grow: 1;
    width: auto;
    max-width: 90%;
}

.ul__col li {
    list-style: none;
    list-style-position: inside;
    width: auto;
    text-align: left;
    line-height: 2;
    font-size: 1.25vw;
    font-weight: 300;
    margin: 0.5% 0%;
}

.ul--light {
    list-style-position: inside;
    width: 100%;

}

.ul--light li {
    color: #fff;
    list-style: none;
    width: 100%;
    text-align: left;
    flex-grow: 1;
    font-size: 1.5vw;
    line-height: 2;
}

/* --=

header, footer
---------------- */

header {
    height: auto;
    width: 100%;
    margin: 0;
    max-width: 100%;
    background-color: #0f0f0f;
    color: #fff;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100%;
    font-family: "Open sans", serif;
}

.header__logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    flex-grow: 1;
}

.header__title h1 {
    color: #fff;
}

.header__logo img {
    height: auto;
    width: auto;
    margin: 0.5%;
    max-width: 45%;
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
    width: 50%;
    max-width: 30%;
    margin: 0.5%;
    max-width: 99%;
}

.header__nav,
.header__nav a {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    align-self: center;
}


/* -

- */

#welcome {
    /*  background-image: url('https://images.unsplash.com/photo-1683971336619-d445cbec0276?q=80&w=1489&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;*/
    background-color: #0f0f0f;
    width: 100%;
    max-width: 100%;
    margin: 0%;
    min-height: 99vh;
}

.border__dash {
    border-left: 1px dashed yellow;
}

.bg-dark {
    background-color: #0f0f0f;
}

.banner__row--md {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 30vh;
}

.title__light h2 {
    font-size: 4.5vw;
    font-weight: 500;
    width: 98%;
    color: #fff;
    line-height: 2;
}

.title__light h3 {
    font-size: 3vw;
    font-weight: 400;
    width: 98%;
    color: #fff;
    line-height: 2;
    margin-bottom: 2.5%;
}

/* 
.body__light {
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
    max-width: 90%;
}
    */

.body__light p {
    font-size: 1em;
    color: #fff;
    font-size: 2vw;
    line-height: 2.5;
    width: auto;
    max-width: 95%;
    font-weight: 300;
    text-align: left;
    text-wrap: wrap;
}


.cta__button {
    height: 3em;
    width: auto;
    border: none;
    font-size: 1.25em;
    font-weight: 300;
    flex-grow: 1;
    margin: 0.5%;
    cursor: pointer;
}

.view__button {
    height: 3em;
    width: auto;
    border: none;
    font-size: 1em;
    font-weight: 300;
    margin: 0.5%;
    cursor: pointer;
    border-radius: 5px;
}

.button--solid--blue,
.view__button {
    background: #2c72b7;
    color: #fff;
}

.button--solid--green {
    background-color: #21a871;
    color: #fff;
    border-radius: 30px;
    width: 25vw;
}

.button--transparent {
    background: transparent;
    color: #fff;
    border: 0.5px solid #fff;
}

/* -

-*/

.container__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
}

.section__layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    height: fit-content;
    min-height: 80vh;
    width: 100%;
    margin: 0%;
    margin: 1% 0%;
}

.content__col--center--w100 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.content__col--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    flex-grow: 1;
}

.content__col--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: auto;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.content__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
}

.content_end {
    justify-content: flex-end;
}

.items_center {
    align-items: center;
}

.content__row--around {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
}

.img--col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 80%;
    max-width: 80%;
    margin: 0%;
}

.img--sm img {
    max-width: 50%;
}

.img--md {
    max-width: 40%;

}

.img--md img {
    max-width: 50%;
}

/* 

- */

.card__sm {
    height: 270px;
    margin: 0.5% 1%;
    border: 0.5px solid #333;
    color: #333;
    width: 100%;
    max-width: 60%;
    border: 0.5px solid #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card__md {
    height: 360px;
    margin: 0.5% 1%;
    border: 0.5px solid #333;
    color: #333;
    border: 0.5px solid #333;
}

.card__lg {
    height: 600px;
    width: 100%;
    margin: 0.5% 1%;
    color: #333;
    border: 0.25px solid #d0d0d0;
}


.card__title--md h2 {
    width: 100%;
    font-size: 2vw;
    max-width: 98%;
    text-align: left;
}

.card__img--md {
    max-width: 99%;
}



/* -

- */
.col--rev {
    flex-direction: column-reverse;
}

.row--reverse {
    flex-direction: row-reverse;
}

.items_end {
    align-items: flex-end;
}

.items_start {
    align-items: flex-start;
}

.content__even {
    justify-content: space-evenly;
}

.content__around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content_center {
    justify-content: center;
}



/* -

- */

.main__title {
    width: 100%;
}

.section__title--md--light {
    width: 100%;
    max-width: 90%;
    font-size: 2em;
    margin: 0.5%;
    font-weight: 400;
    color: #fff;
}

.section__title--sm--light {
    width: 100%;
    font-size: 3vw;
    font-weight: 400;
    margin: 0.5%;
    color: #fff;
}

.section__title--md {
    max-width: 82.5%;
    width: 100%;
    font-size: 6em;
    text-align: left;
    margin: 1.5% 0.5%;
    font-weight: 500;
    color: #333;

}

.section__title--lg {
    width: 100%;
    font-size: 10vw;
    margin: 0.5%;
    color: #333;
}

.card__title--h2 {
    font-size: 8vw;
    margin: 0.5%;
    width: 100%;
    text-align: left;
}


.title--md {
    width: 100%;
}

.title--md h2 {
    font-size: 1.5em;
    width: 100%;
    text-align: left;
}

.text-left {
    width: 100%;
    text-align: center;
}

.text__body--md {
    width: 100%;
    flex-grow: 1;
    margin: 0.5%;
}


.text__body--lg-center {

    flex-grow: 1;
}

.text__body--lg-center p {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.text__body--md p {
    font-size: 1.5em;
    line-height: 2;
    width: 100%;
    font-weight: 500;
    text-align: left;
}

/* --

-- */
#memberships {
    max-width: 98%;
}

#service-content {
    max-width: 80%;
    width: 100%;
}

.table_container {
    max-width: 87.5%;
    width: 100%;
    height: 80vh;
    align-items: center;
}

.services_table {
    flex-grow: 1;
    max-width: 95%;

    background-color: #0f0f0f;
    background-color: transparent;
}

.services_table tr {
    color: #fff;
    color: #333;
}

.services_table tr th {
    font-weight: 500;
    text-align: left;
    flex-grow: 1;
}

.services_table td {
    text-align: left;
    margin: 0.25% 1%;

}

.services_table tr {
    margin-bottom: 1.5%;
}

.services_table td:first-child {
    font-size: 1em;
    font-weight: 500;
    line-height: 2;
    background-color: #181818;
    background-color: transparent;
}

.services_table tr th:nth-child(1),
.services_table tr th:nth-child(5) {
    font-size: 1em;
}

.services_table tr th:nth-child(2),
.services_table tr th:nth-child(3),
.services_table tr th:nth-child(4) {
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    width: 20%;

}

.services_table td:nth-child(2),
.services_table td:nth-child(3),
.services_table td:nth-child(4) {
    text-align: center;
    flex-grow: 1;
    background-color: #f1f1f1;

}

.services_table td:last-child {
    font-size: 1em;
    line-height: 2;
    font-weight: 300;
    padding: 0.5%;
    background-color: #181818;
    background-color: #fafafa;
}

.check_icon {
    color: rgb(98, 178, 98);
    font-size: 22px;
}

.x_icon {
    color: rgb(192, 87, 98);
    font-size: 22px;
}


/* --- --- --- --- 


--- --- --- ---  */
/*
.card__details--services {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    flex-grow: 1;
}

.card__item--pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
}

.card__item--name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #21a871;
    height: 60%;
    padding: 0.5% 0%;
    width: 100%;
    text-align: left;
    border-radius: 20px 0px 0px 20px;
}

.card__item--name h2 {
    color: #fff;
    font-size: 1.5vw;
    line-height: 1.5;
    font-weight: 400;
    max-width: 90%;
}

.card__section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

.card__text--md {
    width: 100%;
    font-size: 2vw;
    font-weight: 500;
    margin: 0.5%;
    width: 100%;
    line-height: 2;
}

.card__text--sm {
    width: 100%;
    font-size: 1.25vw;
    font-weight: 300;
    margin: 0.5%;
    width: auto;
    line-height: 2;
    text-align: left;
}
.view__button {
    align-self: center;
}
*/

.pricing_card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    flex-grow: 1;
    width: 30%;
    margin: 0.5% 1%;
    color: #333;
    border: 0.25px solid #d0d0d0;
}

.pricing_card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: 30%;
    max-width: 98%;
    margin: 0%;
}

.pricing_card-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    text-align: left;
}

.pricing_card-name h2 {
    color: #333;
    font-size: 1.5em;
    width: 100%;
    font-weight: 600;
    margin: 0.25%;
    margin-left: 1%;
}

.pricing_card-pricing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
    max-width: 98%;
    margin-left: 1%;
}

.pricing_card-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    max-width: 99.99%;
    max-height: 30%;
}

.pricing_card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-grow: 0;
    width: 100%;
    max-width: 99.99%;
}

.pricing_card-text-md {
    font-size: 1.75em;
    font-weight: 500;
    margin: 0.25%;
    margin-left: 1%;
    width: 100%;
    text-align: left;
}

.pricing_card-text-sm {
    width: 100%;
    font-size: 1em;
    font-weight: 300;
    margin: 0.25%;
    margin-left: 1%;
    text-align: left;
}

.pricing_card-ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    flex-grow: 1;
    margin: 0.25%;
    max-width: 98%;
    list-style-position: inside;
}

.pricing_card-ul li {
    list-style: none;
    list-style-position: outside;
    width: auto;
    text-align: left;
    font-size: 0.9em;
    line-height: 2;
    font-weight: 300;
    width: 100%;
}

.pricing_card-btn {
    height: 35px;
    max-width: 80%;
    width: 100%;
    align-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.25%;
    border: none;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
    background-color: #606cc8;
    color: #fff;
}

.pricing_card-btn:hover {
    background-color: #4d59b8;
}

.check_dark {
    font-size: 16px;
    color: #333;
}

/* height + width */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w98 {
    width: 98%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    min-height: 50vh;
}

.h__md {
    min-height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h__60 {
    height: 60vh;
}

.h100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt5 {
    margin: 5% 0.5%;
}