@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    margin: 0;
    /* 
    position: relative;
    top: 5%;*/

}


/* -- lists --  */
.ul__col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    flex-grow: 1;
    width: auto;
    max-width: 90%;
}

.ul__col li {
    list-style: none;
    list-style-position: inside;
    width: auto;
    text-align: left;
    line-height: 2;
    font-size: 1.25vw;
    font-weight: 300;
    margin: 0.5% 0%;
}

.ul--light {
    list-style-position: inside;
    width: 100%;

}

.ul--light li {
    color: #fff;
    list-style: none;
    width: 100%;
    text-align: left;
    flex-grow: 1;
    font-size: 1.5vw;
    line-height: 2;
}

/* --=

header, footer
---------------- */

header {
    height: 15vh;
    width: 100%;
    margin: 0;
    max-width: 100%;
    background-color: #0f0f0f;
    color: #fff;
}

.header_content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    margin: 0%;
    width: 100%;
    max-width: 100%;
    align-self: center;
    font-family: "Open sans", serif;
}

.header_title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0.5%;
    flex-grow: 0.5;
    max-width: 98%;
}

.header_title a {
    text-decoration: none;
}

.header_title h1 {
    color: #fff;

}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0.5%;
    flex-grow: 0.5%;
    max-width: 98%;
}

.header_nav,
.header_nav a {
    color: #fff;
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    align-self: center;
    margin: 0% 1%;
}


/* -

- */



.border__dash {
    border-left: 1px dashed yellow;
}

.bg-dark {
    background-color: #0f0f0f;
}

.banner_row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.banner_text {
    align-self: center;
    width: 100%;
    max-width: 98%;
    text-align: center;
}

.banner_text p {
    font-size: 2em;
    font-weight: 300;
    color: #fff;
    align-self: center;
}

.cta_button {
    height: 3em;
    width: auto;
    border: none;
    font-size: 1.25em;
    font-weight: 300;
    flex-grow: 1;
    margin: 0.5%;
    max-width: 45%;
    cursor: pointer;
}

.button_green {
    background-color: #21a871;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    margin: 2.5% 0%;
    max-width: 35%;
    height: 45px;
    align-self: center;
}



.view__button {
    height: 3em;
    width: auto;
    border: none;
    font-size: 1em;
    font-weight: 300;
    margin: 0.5%;
    cursor: pointer;
    border-radius: 5px;
}

.button--solid--blue,
.view__button {
    background: #2c72b7;
    color: #fff;
}


.button_transparent {
    background: transparent;
    color: #fff;
    border: 0.5px solid #fff;
}



/* -

-*/

.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin: 0%;
}

.section_layout-md {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 135vh;
    width: 100%;
    margin: 0%;
    margin: 1% 0%;
}

.section_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 98%;
    width: 100%;
    align-self: center;
    position: unset;
}

.section_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin: 0%;
    margin: 1% 0%;
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    height: fit-content;
    min-height: 120vh;
    width: 100%;
    margin: 0%;
    margin: 1% 0%;
    */
}



#welcome {
    /*  background-image: url('https://images.unsplash.com/photo-1683971336619-d445cbec0276?q=80&w=1489&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;*/
    background-color: #0f0f0f;
    width: 100%;
    max-width: 100%;
    margin: 0%;
    height: 100vh;
}

.hero_content {
    flex-basis: 100%;

}

.welcome_cta {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    height: auto;
    width: 100%;
    max-width: 82.5%;
    flex-grow: 0.5;
    margin: 0%;
}


/* --- --- --- --- 


--- --- --- ---  */
#membershipTitle {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    align-self: center;
    margin: 1% 0%;
    width: auto;
    min-width: 99.99%;
    color: #2d2d2d;
}

#membershipTitle h2 {
    font-size: 4.5em;
    width: 100%;
    text-align: center;
    max-width: 98%;
    font-weight: 500;
    flex-grow: 0;
}

#membershipTitle h3 {
    font-size: 1.25em;
    width: auto;
    text-align: center;
    width: 100%;
    max-width: 98%;
    font-weight: 300;
    flex-grow: 0;
    line-height: 2;
}


/* --- --- --- --- 


--- --- --- ---  */
#welcomeTitle {
    flex-grow: 0;
    align-self: center;
    color: #fff;
    height: auto;
    margin: 0%;
}

#welcomeTitle h2 {
    font-size: 3.5em;
    text-align: center;
    max-width: 98%;
    font-weight: 500;
    margin: 2.5% 0%;
    line-height: 1.5;
}

#welcomeTitle h3 {
    text-align: center;
    font-size: 1.25em;
    font-weight: 300;
    max-width: 90%;
    line-height: 3;
    margin: 2.5% 0%;
}

.section_2-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1% 0%;
    width: auto;
    border-radius: 12px;
    width: auto;
    max-width: 98%;
    position: unset;
}

.section_2-img img {
    mask-image: radial-gradient(circle, rgb(222, 222, 222), rgb(160, 160, 160) 35%, transparent 95%);
    max-width: 35%;
    align-self: center;
}

/* --- --- --- --- 


--- --- --- ---  */
.content_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.content_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    width: 100%;
    flex-grow: 1;
}

.content_flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    width: 100%;
    max-width: 98%;
}

.content_end {
    justify-content: flex-end;
}

.items_center {
    align-items: center;
}

.items_end {
    align-items: flex-end;
}

.items_start {
    align-items: flex-start;
}

.content_even {
    justify-content: space-evenly;
}

.content_around {
    justify-content: space-around;
}

.content_between {
    justify-content: space-between;
}

.content_center {
    justify-content: center;
}

.flex_row {
    display: flex;
}


/* --- --- --- --- 


--- --- --- ---  */
.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 1% 0%;
    width: 100%;
    flex-basis: 100%;
    max-width: 99.99%;
    position: unset;
}

.section_title-md {
    font-size: 4em;
    width: 100%;
    text-align: left;
    margin: 1.5 0%;
    max-width: 100%;
    font-weight: 500;
    color: #2d2d2d;

}

.section_title-md-light {
    text-align: left;
    margin: 0.5%;
    max-width: 98%;
}

.section_title-md-light h3 {
    color: #fafafa;
    font-size: 2em;
    line-height: 2;
    font-weight: 500;
    text-align: center;

}

.section_text-light {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    align-self: center;
    width: auto;
    max-width: 98%;
    margin: 2.5% 0%;
    padding: 0% 1%;
}

.section_text-light p {
    color: #fafafa;
    font-size: 1.25em;
    line-height: 2.5;
    font-weight: 300;
    text-align: center;
}

.footer_title-md-light {
    width: 100%;
    max-width: 98%;
    font-size: 2em;
    text-align: left;
    margin: 0.5%;
    line-height: 2;
    font-weight: 500;
    color: #fafafa;

}

.footer_text-light p {
    color: #fafafa;
    font-size: 1em;
    line-height: 3;
    max-width: 98%;
    font-weight: 300;

}


/* --- --- --- --- 


--- --- --- ---  */
.table_container {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 98%;
    width: 100%;
    flex-basis: 50%;
}

.services_table {
    max-width: 98%;
    width: 100%;
    background-color: #0f0f0f;
    background-color: transparent;
}

.services_table tr {
    color: #fff;
    color: #333;
}

.services_table tr th {
    font-weight: 500;
    text-align: left;
    flex-grow: 1;
}

.services_table td {
    text-align: left;
    margin: 0.25%;

}

.services_table tr td {
    margin: 0.25%;
}

.services_table td:first-child {
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    flex-grow: 1;
    background-color: #2d2d2d;
    background-color: transparent;
}

.services_table tr th:nth-child(2),
.services_table tr th:nth-child(3),
.services_table tr th:nth-child(4) {
    text-align: center;
    font-size: 0.9em;
    font-weight: 400;
    width: 12.5%;
}

.services_table td:nth-child(2),
.services_table td:nth-child(3),
.services_table td:nth-child(4) {
    text-align: center;
    flex-grow: 0.5;
    background-color: #f1f1f1;

}

.services_table td:last-child {
    font-size: 0.75em;
    line-height: 2;
    font-weight: 300;
    padding: 0.5%;
    background-color: #181818;
    background-color: #fafafa;
}

.check_icon {
    color: rgb(98, 178, 98);
    font-size: 15px;
}



/* --- --- --- --- 


--- --- --- ---  */
#services {
    height: auto;
    justify-content: space-around;
}

#service-content {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 98%;
    width: 100%;
    flex-basis: 100%;
}

.pricing_card {
    height: 75vh;
    max-width: 98%;
    align-self: center;
    margin: 0.5%;
    color: #333;
    border: 0.25px solid #d0d0d0;
}

.pricing_card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0%;
}

.pricing_card-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 98%;
    line-height: 1.5;
    flex-grow: 0;
    font-size: 1.25em;
}

.pricing_card-name h2 {
    color: #515151;
    text-align: left;
    font-weight: 400;
}

.pricing_card-pricing {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    flex-grow: 0;
    margin: 0%;
    width: 100%;
    max-width: 98%;
    align-self: center;
    line-height: 1.5;
}


.pricing_card-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    flex-grow: 0;
    width: 100%;
    max-width: 98%;
}

.pricing_card-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-grow: 0;
    max-width: 99.99%;
    height: 15%;
}

.pricing_card-text-md {
    font-size: 1.25em;
    font-weight: 400;
    margin: 0.25%;
    margin-left: 1%;
    width: 100%;
    color: #515151;
    text-align: left;
}

.pricing_card-text-sm {
    width: 100%;
    font-size: 1em;
    font-weight: 300;
    margin: 0.25%;
    margin-left: 1%;
    text-align: left;
    color: #515151;
}

.pricing_card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    flex-grow: 0;
    margin: 0%;
    max-width: 98%;
    list-style-position: inside;
}

.pricing_card-ul p {
    width: 100%;
    font-size: 0.8em;
    font-weight: 300;
    margin: 0.25%;
    line-height: 2;
    margin-left: 0%;
    text-align: left;
    color: #515151;
}

.pricing_card-ul li {
    list-style: none;
    list-style-position: outside;
    width: auto;
    text-align: left;
    font-size: 0.75em;
    line-height: 2;
    font-weight: 300;
}

.pricing_card-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    max-width: 80%;
    width: 100%;
    padding: 0.25%;
    font-size: 1em;
    font-weight: 300;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #606cc8;
    color: #fff;
    text-align: center;
    text-decoration: none;
    align-self: center;
}

.pricing_card-btn:hover {
    background-color: #4d59b8;
}

.check_dark {
    font-size: 16px;
    color: #333;
}

/* --- --- --- --- 


--- --- --- ---  */
#reviews {
    height: 275vh;
}

#review-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 100%;
    align-self: center;
    max-width: 98%;
}

#reviewsTitle {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
    align-self: center;
    margin: 1% 0%;
    width: auto;
    min-width: 99.99%;
    color: #2d2d2d;
}

#reviewsTitle h2 {
    font-size: 4em;
    text-wrap: wrap;
    width: 100%;
    text-align: center;
    max-width: 98%;
    font-weight: 400;
    line-height: 1.5;
    flex-grow: 0;
    margin-bottom: 2.5%;
}

.review_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: auto;
    max-width: 92.5%;
    align-self: center;
    margin: 0.5%;
    color: #333;
    margin: 2.5% 0%;
    font-family: "Open sans", serif;
}

.review_card-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: auto;
    max-height: fit-content;
    max-width: 75%;
    width: 100%;
    margin: 0.5%;
    color: #3f3f3f;
}

.review_card-date {
    font-size: 1.25em;
    font-weight: 400;
}

.review_card-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 98%;
    max-height: 98%;
    width: 100%;
    margin: 0.5%;
}

.review_card-img img {
    max-width: 45%;
    border-radius: 5px;
    mask-image: radial-gradient(circle, black, black 35%, transparent 95%);
}

.review_card-main {
    font-size: 1.25em;
    line-height: 2;
    font-weight: 200;

}

.review_card-customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 1;
    line-height: 2;
    flex-grow: 0.5;
    width: 100%;
    align-self: flex-start;
}

.review_card-name {
    color: #515151;
    font-size: 1.5em;
    width: auto;
    font-weight: 600;
    margin-left: 0.25%;
}

.review_card-date {
    font-size: 0.75em;
    font-weight: 300;
    margin-left: 2.5%;
}

.pricing_card-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    flex-grow: 0.5;
    text-align: left;
}

.pricing_card-name h2 {
    color: #515151;
    font-size: 1.75em;
    width: auto;
    font-weight: 600;
    margin-left: 0.25%;
}


/* --- --- --- --- 


--- --- --- ---  */
.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w98 {
    width: 98%;
}

.w100 {
    width: 100%;
}

.h30 {
    height: 20%;
}

.h__sm {
    min-height: 50vh;
}

.h__md {
    min-height: 75vh;
}

.h__lg {
    height: 140vh;
    margin: 1% 0%;
}

.h__xl {
    height: 120vh;
}

.h__60 {
    height: 60vh;
}

.h100 {
    height: 100%;
}

.m05 {
    margin: 0.5%;
}

.mt5 {
    margin-top: 5%;
}

.mb1 {
    margin-bottom: 1%;
}

.mb5 {
    margin-bottom: 5%;
}

.mbt5 {
    margin: 5% 0.5%;
}



@media only screen and (min-width: 780px) {

    .header_title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 0.5;
    }

    .header_title h1 {
        font-size: 1.5em;
    }

    .header_nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-grow: 0.5;
    }

    .header_nav,
    .header_nav a {
        font-size: 1em;
        font-weight: 300;
    }

    /*    #reviewsTitle {
        flex-basis: 25%;
    } */



    #membershipTitle {
        flex-basis: 25%;
    }

    #membershipTitle h2 {}

    #membershipTitle h3 {}

    /* --- --- --- --- 


--- --- --- ---  */
    #welcomeTitle {
        flex-grow: 1;
        align-self: center;
        color: #fff;
    }

    #welcomeTitle h2 {
        font-size: 5em;
        text-align: center;
        max-width: 75%;
        font-weight: 500;
        margin: 1%;
        line-height: 1.5;
    }

    #welcomeTitle h3 {
        text-align: center;
        font-size: 2em;
        font-weight: 300;
        max-width: 60%;
        line-height: 2;
        margin: 1%;
    }

    .welcome_cta {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
        width: 100%;
        max-width: 50%;
        flex-grow: 1;
    }

    .hero_content {
        flex-basis: 75%;
    }

    /* --- --- --- --- 


--- --- --- ---  */
    .section_title-md {
        flex-basis: 50%;
    }

    .section_title-md h2 {
        margin: 1.5% 0.5%;
        font-weight: 500;
        color: #2d2d2d;
        font-size: 1em;
        width: 100%;
        text-align: center;
        max-width: 98%;
        font-weight: 500;
        flex-grow: 0;
    }



    /* --- --- --- --- 


--- --- --- ---  */
    #reviews {
        height: 200vh;
    }

    #review-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 100%;
    }

    #review-content div:nth-child(1),
    #review-content div:nth-child(3) {
        align-self: flex-start;
    }

    #review-content div:nth-child(2) {
        flex-direction: row-reverse;
        align-self: flex-end;
    }

    .review_card {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: auto;
        max-width: 92.5%;
        align-self: center;
        margin: 0.5%;
        color: #333;
    }

    .review_card-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
        height: auto;
        max-width: 50%;
        width: 100%;
        margin: 0.5%;
        color: #3f3f3f;
    }

    .review_card-text {
        align-self: center;
    }

    .review_card-main {
        font-size: 1.25em;
        line-height: 2.5;
        font-weight: 200;
    }

    .review_card-customer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-grow: 1;
        line-height: 2;
        flex-grow: 0.5;
        width: 100%;
        align-self: center;
    }

    .review_card-name {
        font-size: 1.25em;
        font-weight: 400;
        margin-left: 0.5%;
    }

    .review_card-date {
        font-size: 0.75em;
        font-weight: 300;
        margin-left: 2.5%;
    }

    .review_card-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 98%;
        max-width: 40%;
        margin: 0.5%;
    }

    .review_card-img img {
        border-radius: 2px;
        mask-image: radial-gradient(circle, black, black 35%, transparent 95%);
    }

    /* --- --- --- --- 


--- --- --- ---  */
    .table_container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-width: 98%;
        width: 100%;
    }

    .services_table {
        max-width: 98%;
        width: 100%;
        margin: 5% 0% 0% 2.5%;
        height: fit-content;
        align-self: center;
        background-color: #0f0f0f;
        background-color: transparent;
    }

    .services_table tr td {
        color: #2d2d2d;
    }

    .services_table tr th {
        font-weight: 500;
        text-align: left;
        flex-grow: 0;
    }

    .services_table tr td:first-child {
        font-size: 0.9em;
        font-weight: 400;
        line-height: 2;
        width: 20%;
        color: #2d2d2d;
    }

    .services_table tr th:nth-child(2),
    .services_table tr th:nth-child(3),
    .services_table tr th:nth-child(4) {
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        width: 12.5%;
    }

    .services_table td:nth-child(2),
    .services_table td:nth-child(3),
    .services_table td:nth-child(4) {
        text-align: center;
        flex-grow: 0;
        margin: 0;
        background-color: #f7f7f7;
    }

    .services_table td:last-child {
        font-size: 0.9em;
        line-height: 2;
        flex-grow: 0;
        font-weight: 300;
        padding: 0.5%;
        width: 45%;
        background-color: #fafafa;
    }

    .check_icon {
        color: rgb(98, 178, 98);
        font-size: 22px;
    }

    .x_icon {
        color: rgb(192, 87, 98);
        font-size: 22px;
    }

    /* --- --- --- --- 


--- --- --- ---  */
    #services {
        height: 220vh;
    }

    #service-content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        max-width: 90%;
        width: 100%;
        flex-basis: 50%;
    }

    .pricing_card {
        height: 100%;
        max-height: 75%;
        max-width: 30%;
        align-self: center;
        width: 100%;
        margin: 0.5%;
    }

    .pricing_card-details {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        margin: 0%;
    }

    .pricing_card-name {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
        flex-grow: 1;
        text-align: left;
    }

    .pricing_card-name h2 {
        color: #515151;
        font-size: 2.5em;
        width: 100%;
        max-width: 98%;
        font-weight: 600;
        margin-left: 0.25%;
    }

    .pricing_card-pricing {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: auto;
        flex-grow: 0.5;
        margin-left: 1%;
        width: 100%;
        max-width: 98%;
    }

    .pricing_card-col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        flex-grow: 1;
        width: 100%;
        max-width: 99.99%;
    }

    .pricing_card-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        width: 100%;
        max-width: 99.99%;
        height: 15%;
    }

    .pricing_card-text-md {
        font-size: 1.25em;
        font-weight: 400;
        margin: 0.25%;
        margin-left: 1%;
        width: 100%;
        color: #515151;
        text-align: left;
    }

    .pricing_card-text-sm {
        width: 100%;
        font-size: 1em;
        font-weight: 300;
        margin: 0.25%;
        margin-left: 1%;
        text-align: left;
        color: #515151;
    }

    .pricing_card-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        max-width: 80%;
        width: 100%;
        padding: 0.25%;
        font-size: 1em;
        font-weight: 300;
        align-self: center;
    }

    .pricing_card-btn:hover {
        background-color: #4d59b8;
    }

    .check_dark {
        font-size: 16px;
        color: #333;
    }
}


@media only screen and (min-width: 900px) {
    .flex_container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        width: auto;
        flex-basis: 100%;
        margin: 0.5%;
        position: relative;
        /*       border: 0.5px dashed whitesmoke;*/
    }

    .section_content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        z-index: 9999999;
        max-width: 80%;
        align-self: center;
        bottom: 15%;
        left: 1%;
        /*        border: 0.5px dashed red;*/
    }

    .section_title-md-light {
        font-size: 1.75em;
        text-align: left;
        margin: 0.5%;
        max-width: 98%;
    }

    .section_title-md-light h3 {
        color: #fafafa;
        font-size: 2em;
        line-height: 2;
        font-weight: 500;
        text-align: left;
    }

    .section_text-light {
        align-self: flex-start;
        width: auto;
        max-width: 98%;
        margin: 0.5%;
        padding: 0% 1%;
    }

    .section_text-light p {
        color: #fafafa;
        font-size: 1.5em;
        line-height: 3;
        font-weight: 300;
        text-align: left;
    }

    .section_2-img {
        margin: 0%;
        border-radius: 12px;
        max-width: 40%;
        position: absolute;
        left: 59%;
        bottom: 15%;
        /*        border: 0.5px dashed red;*/
    }

    .section_2-img img {
        mask-image: radial-gradient(circle, black, black 35%, transparent 95%);
        max-width: 80%;
        width: auto;
        align-self: center;
    }
}